- title 'Recruitment'
- meta_tag :description, "Learn about GOCOM's recruiting programs, and browse open jobs."

.page-path{:style => 'padding-top: 85px;'}
  .g-container
    .g-lg-12
      |
      &nbsp;
      - @posts.each do |post|
        %a{:href => "#recruitment-#{post.id}"}= post.title
        &nbsp;
        |



.g-container
  .g-lg-12
    %article.overview--bg-True.text-page.g-lg-12.products-container
      %section
        - @posts.each do |post|
          .overview-text.g-lg-10.g-sm-12.g-lg-push-1.g-sm-push-none.background-none{:id => "recruitment-#{post.id}"}
            %div.text-center
              = link_to "/recruitments/#{post.id}", :class => 'recruitment-link' do
                %h1.product-group
                  %span{:style => "font-size:24px;"}= post.title
              %span{:style => 'margin-top: -50px !important;'}
                Posted #{post.date_posted} by #{post.author}

            .person-anchor &nbsp;

            %p= post.content.html_safe

  .g-lg-12.text-center
    = paginate @posts

  %a{:href => "#0", :class=> "cd-top"}
