- description = truncate(strip_tags(@post.content), :length => 155)

- title @post.title
- meta_tag :description, description

.g-container
  .g-lg-12
    %article.overview--bg-True.text-page.g-lg-12.products-container
      = link_to 'Recruitment >', [:recruitments]

      %section
        .overview-text.g-lg-10.g-sm-12.g-lg-push-1.g-sm-push-none.background-none
          %div.text-center
            %h1.product-group
              %span{:style => "font-size:30px;"}= @post.title
            %span{:style => 'margin-top: -50px !important;'}
              Posted #{@post.date_posted} by #{@post.author}

          .person-anchor &nbsp;

          %p= @post.content.html_safe
