- title 'About us'
- meta_tag :description, 'The Company was founded in August 9, 2012 in Makati City. We aim to provide not only Network Security products,
but also IT Infrastructure solutions that will help SMB and Enterprise clients'


.page-billboard.page-billboard--xsmall


.g-container
  %article.overview.overview--bg-True
    .overview-text.g-lg-10.g-sm-12.g-lg-push-1.g-sm-push-none
      %div
        %h1
          %span.text-bauhaus Our Company
        %p{:style => 'font-size: 18px; padding: 10px; text-align: center; line-height: 2.5'}
          GOCOM Systems and Solutions Corporation is an Information and
          Communications Technology company that focuses on Solutions and Services.
          %br
          %br
          The Company was founded in August 9, 2012 in Makati City.
          We aim to provide not only Network Security products,
          but also IT Infrastructure solutions that will help SMB and Enterprise clients.
          Continued growth has given us the opportunity to improve our services and look for more cost-effective solutions to address the ever-growing IT need of different industries.

    .g-lg-10.g-sm-12.g-lg-push-1.g-sm-push-none
      %div
        %h1
          %span.text-bauhaus Our Mission

        %p{:style => 'font-size: 18px; padding-top: 10px; text-align: left; line-height: 2.5; text-align: center;'}
          We are an organization committed to provide technology solutions through superior expertise and innovations.
          %br
          We strive to provide optimum value to our customers by pursuing this mission with integrity and creativity.


    .g-lg-10.g-sm-12.g-lg-push-1.g-sm-push-none
      %div
        %h1
          %span.text-bauhaus Our Vision
        %p{:style => 'font-size: 18px; padding-top: 10px; text-align: left; line-height: 2.5; text-align: center;'}
          We bring our global customers to the 21st century through innovative technology solutions that bring their organizations closer to their goals.
          %br

          %i Corporate Core Values:

          .vision-list-container
            %ul
              %li Service
              %li Malasakit
              %li Excellence
              %li Innovation
