- title 'Contact Us'
- meta_tag :description, 'Headquarters GOCOM Systems and Solutions Corporation Robinsons Summit Center, Unit 24 Level 12, 6783 Ayala Avenue, Makati, Philippines 1226'

.bcms-clearfix.custom-clearfix
.bcms-clearfix.custom-clearfix
%main{:role => "main"}
  %div
    .page-billboard.page-billboard--contact-us
      .page-billboard-container
        .page-billboard-text
          %h1 GOCOM Systems and Solutions Corporation
          %p Unit 218 Cityland Pioneer, Pioneer St.
          %p Mandaluyong City, Philippines 1550

          .bcms-clearfix.custom-clearfix
        #js-map-canvas.page-billboard-map

    .g-container
      .col-md-11.col-md-offset-1
        %br
        %h1 Contact Us
        %br

      .col-md-5.col-md-offset-1
        - if flash[:notice].present?
          .alert.alert-success.alert-dismissible{:role => "alert"}
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            = flash[:notice]

        = form_tag contacts_path, :class => 'elq-form' do |f|
          .form-group
            = text_field_tag :name, nil, :required => true,
              :placeholder => 'NAME', :class => 'form-control'
          .form-group
            = text_field_tag :email, nil, :required => true,
              :placeholder => 'EMAIL', :class => 'form-control'
          .form-group
            = select_tag :subject,
                options_for_select(ContactForm::CONTACT_OPTIONS),
                :prompt => 'Choose a Topic:',
                :required => true, :class => 'form-control'
          .form-group
            = text_area_tag :message, nil, :rows => 6, :required => true,
              :placeholder => 'MESSAGE', :class => 'form-control'
          = submit_tag 'SEND', :class => 'pull-right', :class => 'btn btn-primary form-control'

          %br
          %br

      .col-md-5.col-md-offset-1
        %strong Headquarters
        %p
          Unit 218 Cityland Pioneer, Pioneer St.
          %br/
          Mandaluyong City, Philippines 1550

        %strong Email
        %p
          Sales and Marketing:
          = link_to 'sales@gocom.ph', 'mailto:sales@gocom.ph'
          %br
          Technical Support and Presales:
          = link_to 'support@gocom.ph', 'mailto:support@gocom.ph'

        %strong Phone
        %p
          %a{:href => 'tel: +63026252486', :title => '+63 (02) 625 2486'} +63 (02) 625 2486

        %strong Fax
        %p
          %a{:href => "tel: +63024791555", :title => "+63 (02)479 1555"} +63 (02) 479 1555


        .bcms-clearfix.custom-clearfix
    .bcms-clearfix.custom-clearfix
    .bcms-clearfix.custom-clearfix
.bcms-clearfix.custom-clearfix
.bcms-clearfix.custom-clearfix

.padding-bottom
