%div
  .homepage
    .homepage-billboard
      .homepage-billboard
        .homepage-billboard-slides.js-homepage-billboard-slides
          .homepage-billboard-slide.js-homepage-billboard-slide{:style => "background-image: url('/images/we_provide.jpg')"}
            .g-container
              .homepage-billboard-slide-table
                .homepage-billboard-slide-cell
                  %h1{:style => "font-weight: light; color: #fff;"} We provide best-of-breed products to support your IT needs.

                  %p
                    %a{:style => "display: none; font-family: 'Arial'; font-size: 20px; color: #d0ff94", :href => "/products", :title => "Learn More"} Learn More
          .homepage-billboard-slide.js-homepage-billboard-slide{:style => "background-image: url('/images/we_deliver.jpg')"}
            .g-container
              .homepage-billboard-slide-table
                .homepage-billboard-slide-cell
                  %h1{:style => "font-weight: light; color: #fff;"} We deliver turn-key solutions to free you from the woes of IT Project implementations.

                  %p
                    %a{:style => "display: none; font-size: 20px; color: #d0ff94", :href => "/solutions", :title => "Learn More"} Learn More
          .homepage-billboard-slide.js-homepage-billboard-slide{:style => "background-image: url('/images/we_keep.jpg')"}
            .g-container
              .homepage-billboard-slide-table
                .homepage-billboard-slide-cell
                  %h1{:style => "font-weight: light; color: #fff;"} We keep your IT systems up and running to let you focus more on running your business.

                  %p
                    %a{:style => "display: none; font-size: 20px; color: #d0ff94", :href => "/solutions", :title => "Learn More"} Learn More
        .social-slider-pager.js-homepage-billboard-pager
        %i.social-slider-prev.fa.fa-angle-left.js-homepage-billboard-prev
        %i.social-slider-next.fa.fa-angle-right.js-homepage-billboard-next
      .social-slider-pager.js-homepage-billboard-pager
      %i.social-slider-prev.fa.fa-angle-left.js-homepage-billboard-prev
      %i.social-slider-next.fa.fa-angle-right.js-homepage-billboard-next
    .bcms-clearfix.custom-clearfix

    .container.padding-top.category-container
      .row.padding-bottom-half.category-parent.no-padding
        .col-md-4
          .category-component
            .holder
              .bg-cover
                = image_tag 'tabs/solutions.jpg'
              .text-box
                %a.button.blue{:href => '/about-us'} About Us
                %p GOCOM Systems and Solutions Corporation is an Information and Communications Technology company that focuses on Solutions and Services.
        .col-md-4
          .category-component
            .holder
              .bg-cover
                = image_tag 'tabs/products.jpg'
              .text-box{'data-href' => '#'}
                %a.button.blue{:href => '/products'} Products
                %p In order for us to supply you with a complete Hardware and Software solution we are able to offer you a wide range of hardware and software licencing as well as all the peripherals you may need.

        .col-md-4
          .category-component
            .holder
              .bg-cover
                = image_tag 'tabs/about-us.jpg'
              .text-box
                %a.button.blue{:href => '/solutions'} Services
                %p As a leading digital solution provider supported by the best technology and expertise, we offer global compliance, digital experience and content solutions.

      .bcms-clearfix.custom-clearfix

    .article-columns
      %article.contact-us-message
        .g-container
          .g-lg-12
            %h1 Get In Touch
            %p Whether you are looking for general information or have a specific question, we want to help.
            %a.button-primary{:href => "/contact-us", :title => "Contact Us"} Contact Us
