- title 'Our Products'
- meta_tag :description, 'In order for us to supply you with a complete Hardware and Software solution we are able to offer you a wide range of hardware and software licencing as well as all the peripherals you may need.'

.page-path{:style => 'padding-top: 85px;'}
  .g-container
    .g-lg-12
      %a{:href => "#security"}
        %i.fa.fa-lock
        Security
      &nbsp;
      |
      &nbsp;
      %a{:href => "#network"}
        %i.fa.fa-sitemap
        Network
      &nbsp;
      |
      &nbsp;
      %a{:href => "#management-monitoring"}
        %i.fa.fa-search
        Management & Monitoring
      &nbsp;
      |
      &nbsp;
      %a{:href => "#backup-recovery"}
        %i.fa.fa-cloud-download
        Datacenter, Backup & Recovery
      &nbsp;
      |
      &nbsp;
      %a{:href => "#storage-endpoint"}
        %i.fa.fa-server
        Storage & Endpoint


.g-container
  .g-lg-10.g-lg-push-1
    %article.overview--bg-True.text-page.g-lg-12.products-container
      %section
        #security.overview-text.g-lg-8.g-sm-12.g-lg-push-2.g-sm-push-none.background-none
          %div
            %h1.product-group
              %span.text-bauhaus{:style => "font-size:25px;"} Security Products


        - @security_products.each do |product|
          .person-anchor &nbsp;
          %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
            %tbody
              %tr
                %td
                  = link_to product.link, :target => '_blank' do
                    = image_tag product.image
                %td
                  = link_to product.link, :target => '_blank' do
                    %h1.product-name= product.name
                  %p
                    %strong= product.label
                  %p= product.description.html_safe

        -#
        -# .person-anchor &nbsp;
        -# %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
        -#   %tbody
        -#     %tr
        -#       %td
        -#         = link_to 'https://www.checkpoint.com/', :target => '_blank' do
        -#           = image_tag 'products/checkpoint.png'
        -#       %td
        -#         = link_to 'https://www.checkpoint.com/', :target => '_blank' do
        -#           %h1.product-name Checkpoint
        -#         %p
        -#           %strong Next Generation Firewall
        -#         %p
        -#           It provides customers of all sizes with the latest data and network security protection in an integrated next generation firewall platform,
        -#           reducing complexity and lowering the total cost of ownership.
        -#
        -#
        -# .person-anchor &nbsp;
        -# %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
        -#   %tbody
        -#     %tr
        -#       %td
        -#         = link_to 'http://www.trendmicro.com/us/enterprise/challenges/cloud-virtualization/midsize/#agentless-security', :target => '_blank' do
        -#           = image_tag 'products/trend-micro.png'
        -#       %td
        -#         = link_to 'http://www.trendmicro.com/us/enterprise/challenges/cloud-virtualization/midsize/#agentless-security', :target => '_blank' do
        -#           %h1.product-name Trend Micro
        -#         %p
        -#           %strong Virtualization Security
        -#         %p
        -#           Protect applications and data and prevent business disruptions, while helping to ensure regulatory
        -#           compliance. Whether you are focused on securing physical or virtual environments, cloud instances, or web applications,
        -#           Trend Micro provides the advanced server security you need for virtual, cloud, and physical servers.
        -#
        -#
        -# .person-anchor &nbsp;
        -# %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
        -#   %tbody
        -#     %tr
        -#       %td
        -#         = link_to 'http://www.cisco.com/c/en/us/products/security/ngips/index.html', :target => '_blank' do
        -#           = image_tag 'products/firepower.jpg'
        -#       %td
        -#         = link_to 'http://www.cisco.com/c/en/us/products/security/ngips/index.html', :target => '_blank' do
        -#           %h1.product-name Cisco Firepower
        -#         %p
        -#           %strong Intrusion Prevention System
        -#         %p
        -#           Protect applications and data and prevent business disruptions, while helping to ensure regulatory compliance.
        -#           Whether you are focused on securing physical or virtual environments, cloud instances, or web applications,
        -#           Trend Micro provides the advanced server security you need for virtual, cloud, and physical servers.
        -#
        -#
        -# .person-anchor &nbsp;
        -# %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
        -#   %tbody
        -#     %tr
        -#       %td
        -#         = link_to 'http://www.antlabs.com/', :target => '_blank' do
        -#           = image_tag 'products/antlabs.png'
        -#       %td
        -#         = link_to 'http://www.antlabs.com/', :target => '_blank' do
        -#           %h1.product-name ANTlabs
        -#         %p
        -#           %strong Captive Portal
        -#         %p
        -#           A better all-in-one Service Management Platform to monetize
        -#           existing Internet services, maximize limited bandwidth,
        -#           and improve user experience.
        -#
        -#
        -#
        -#
        -# .person-anchor &nbsp;
        -# %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
        -#   %tbody
        -#     %tr
        -#       %td
        -#         = link_to 'https://www.rsa.com/en-us/products-services/identity-access-management/securid', :target => '_blank' do
        -#           = image_tag 'products/rsa.png'
        -#       %td
        -#         = link_to 'https://www.rsa.com/en-us/products-services/identity-access-management/securid', :target => '_blank' do
        -#           %h1.product-name RSA
        -#         %p
        -#           %strong Two-Factor Authentication
        -#         %p
        -#           RSA provides world-leading two-factor authentication, protecting
        -#           25,000 organizations and 55 million users. RSA SecurID extends
        -#           security to bring your own device (BYOD), cloud, and mobile as
        -#           well as traditional virtual private network (VPN) and web portals.
        -#           RSA SecurID solutions comprise three primary components:
        -#           authenticator, platform, and agents.
        -#
        -#
        -# .person-anchor &nbsp;
        -# %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
        -#   %tbody
        -#     %tr
        -#       %td
        -#         = link_to 'https://www.forescout.com/solutions/use-cases/network-access-control/', :target => '_blank' do
        -#           = image_tag 'products/forescout.png'
        -#       %td
        -#         = link_to 'https://www.forescout.com/solutions/use-cases/network-access-control/', :target => '_blank' do
        -#           %h1.product-name Forescout
        -#         %p
        -#           %strong Network Access Control
        -#         %p
        -#           Forescout provides real-time visibility of users, devices,
        -#           operating systems and applications that are connected to the
        -#           network. After discovering and classifying devices, it provides
        -#           comprehensive network access control capabilities to enforce your
        -#           network access and compliance policies.
        -#
        -# .person-anchor &nbsp;
        -# %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
        -#   %tbody
        -#     %tr
        -#       %td
        -#         = link_to 'https://www.sonicwall.com/', :target => '_blank' do
        -#           = image_tag 'products/sonicwall.png'
        -#       %td
        -#         = link_to 'https://www.sonicwall.com/', :target => '_blank' do
        -#           %h1.product-name Dell SonicWALL
        -#         %p
        -#           %strong Next Generation Firewall
        -#         %p
        -#           Secure your organization’s systems, users and data with a deep
        -#           level of protection that won’t compromise network performance.
        -#           Dell™ SonicWALL™ wired and wireless security solutions are
        -#           deployed in 200 countries by more than 250,000 customers,
        -#           ranging from small and mid-sized businesses, to large
        -#           enterprise environments, government, retail point-of-sale,
        -#           education, healthcare and service providers.
        -#
        -# .person-anchor &nbsp;
        -# %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
        -#   %tbody
        -#     %tr
        -#       %td
        -#         = link_to 'http://www.sangfor.com/', :target => '_blank' do
        -#           = image_tag 'products/sangfor.png'
        -#       %td
        -#         = link_to 'http://www.sangfor.com/', :target => '_blank' do
        -#           %h1.product-name Sangfor
        -#         %p
        -#           %strong Next Generation Firewall / Wan Optimization
        -#         %p
        -#           Sangfor is the leading and largest vendor of Network Security,
        -#           Management & Optimization solutions in Asia and is committed
        -#           to provide continuous innovative network solutions.
        -#









        #network.overview-text.g-lg-8.g-sm-12.g-lg-push-2.g-sm-push-none.background-none
          %div
            %h1.product-group
              %span.text-bauhaus{:style => "font-size:25px;"} Network

        - @network_products.each do |product|
          .person-anchor &nbsp;
          %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
            %tbody
              %tr
                %td
                  = link_to product.link, :target => '_blank' do
                    = image_tag product.image
                %td
                  = link_to product.link, :target => '_blank' do
                    %h1.product-name= product.name
                  %p
                    %strong= product.label
                  %p= product.description.html_safe

        -# .person-anchor &nbsp;
        -# %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
        -#   %tbody
        -#     %tr
        -#       %td
        -#         = link_to 'https://www.bluecoat.com/products-and-solutions/wan-optimization-packetshaper', :target => '_blank' do
        -#           = image_tag 'products/bluecoat.png'
        -#       %td
        -#         = link_to 'https://www.bluecoat.com/products-and-solutions/wan-optimization-packetshaper', :target => '_blank' do
        -#           %h1.product-name Bluecoat
        -#         %p
        -#           %strong Bandwidth Manager
        -#         %p
        -#           Blue Coat PacketShaper helps enterprises to control
        -#           bandwidth cost, deliver a superior user experience and align
        -#           network resources with business priorities.
        -#
        -#
        -# .person-anchor &nbsp;
        -# %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
        -#   %tbody
        -#     %tr
        -#       %td
        -#         = link_to 'http://www.elfiq.com/', :target => '_blank' do
        -#           = image_tag 'products/elfiq.png'
        -#       %td
        -#         = link_to 'http://www.elfiq.com/', :target => '_blank' do
        -#           %h1.product-name ELFIQ
        -#         %p
        -#           %strong Link Load Balancer
        -#         %p
        -#           Enables organizations of all sizes to utilize and manage multiple
        -#           concurrent Internet Service Providers and private WAN links simply
        -#           and securely to ensure business continuity, balance the traffic
        -#           load to meet and exceed their bandwidth needs for local or cloud
        -#           needs.
        -#
        -# .person-anchor &nbsp;
        -# %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
        -#   %tbody
        -#     %tr
        -#       %td
        -#         = link_to 'http://www.riverbed.com/sg/products/steelhead/index.html', :target => '_blank' do
        -#           = image_tag 'products/riverbed.png'
        -#       %td
        -#         = link_to 'http://www.riverbed.com/sg/products/steelhead/index.html', :target => '_blank' do
        -#           %h1.product-name Riverbed
        -#         %p
        -#           %strong WAN Optimization
        -#         %p
        -#           The industry’s #1 optimization solution for accelerated
        -#           delivery of any application across the Hybrid WAN.
        -#           With SteelHead WAN optimization, you have better
        -#           visibility into application and network performance and the
        -#           end user experience.
        -#










        #management-monitoring.overview-text.g-lg-8.g-sm-12.g-lg-push-2.g-sm-push-none.background-none
          %div
            %h1.product-group
              %span.text-bauhaus{:style => "font-size:25px;"} Management & Monitoring Products

        - @management_products.each do |product|
          .person-anchor &nbsp;
          %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
            %tbody
              %tr
                %td
                  = link_to product.link, :target => '_blank' do
                    = image_tag product.image
                %td
                  = link_to product.link, :target => '_blank' do
                    %h1.product-name= product.name
                  %p
                    %strong= product.label
                  %p= product.description.html_safe
        -#
        -# .person-anchor &nbsp;
        -# %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
        -#   %tbody
        -#     %tr
        -#       %td
        -#         = link_to 'http://www.solarwinds.com/', :target => '_blank' do
        -#           = image_tag 'products/solarwinds.png'
        -#       %td
        -#         = link_to 'http://www.solarwinds.com/', :target => '_blank' do
        -#           %h1.product-name Solarwinds
        -#         %p
        -#           %strong Network Monitoring Software
        -#         %p
        -#           A powerful and affordable network monitoring software that enables
        -#           you to quickly detect, diagnose, and resolve network performance
        -#           problems & outages.
        -#
        -# .person-anchor &nbsp;
        -# %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
        -#   %tbody
        -#     %tr
        -#       %td
        -#         = link_to 'https://www.firemon.com/technology/', :target => '_blank' do
        -#           = image_tag 'products/firemon.png'
        -#       %td
        -#         = link_to 'https://www.firemon.com/technology/', :target => '_blank' do
        -#           %h1.product-name Firemon
        -#         %p
        -#           %strong Firewall Management
        -#         %p
        -#           With the FireMon platform, you get continuous, real-time
        -#           visibility into your existing security infrastructure so you can
        -#           identify redundant, out of date policies. The result is more
        -#           effective security management, lower cost of operations and
        -#           reduced exposure to risk.
        -#
        -# .person-anchor &nbsp;
        -# %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
        -#   %tbody
        -#     %tr
        -#       %td
        -#         = link_to 'https://www.rapid7.com/', :target => '_blank' do
        -#           = image_tag 'products/rapid7.png'
        -#       %td
        -#         = link_to 'https://www.rapid7.com/', :target => '_blank' do
        -#           %h1.product-name Rapid7
        -#         %p
        -#           %strong Vulnerability Assessment Penetration Testing
        -#         %p
        -#           Rapid 7 Nexpose gives you the confidence you need to understand
        -#           your ever-changing attack surface, focus on what matters,
        -#           and create better security outcomes. it verifies controls you
        -#           have in place and seamlessly integrates with Metasploit, built on
        -#           the world's most impactful penetration testing software, to
        -#           validate vulnerability exploitability, test controls effectiveness,
        -#           and drive effective remediation for proven risk.
        -#
        -# .person-anchor &nbsp;
        -# %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
        -#   %tbody
        -#     %tr
        -#       %td
        -#         = link_to 'https://www.savvius.com/', :target => '_blank' do
        -#           = image_tag 'products/savvius.png'
        -#       %td
        -#         = link_to 'https://www.savvius.com/', :target => '_blank' do
        -#           %h1.product-name Savvius
        -#         %p
        -#           %strong Packet Analyzer
        -#         %p
        -#           Savvius's mission is to build maintenance and troubleshooting
        -#           tools, and to apply the resulting networking expertise to
        -#           cybersecurity investigations as well. Common to everything Savvius
        -#           does is a focus on providing useful insight built on a deep
        -#           understanding of networks from packets through applications.
        -#
        -# .person-anchor &nbsp;
        -# %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
        -#   %tbody
        -#     %tr
        -#       %td
        -#         = link_to 'http://www.wallix.com/', :target => '_blank' do
        -#           = image_tag 'products/wallix.png'
        -#       %td
        -#         = link_to 'http://www.wallix.com/', :target => '_blank' do
        -#           %h1.product-name Wallix
        -#         %p
        -#           %strong Privilege Access Management
        -#         %p
        -#           WALLIX is a cybersecurity software company which helps many
        -#           customers (including large and medium sized enterprises,
        -#           public sector organisations and cloud service providers)
        -#           to protect and secure their critical IT assets including data,
        -#           servers, terminals and connected devices.
        -#
        -# .person-anchor &nbsp;
        -# %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
        -#   %tbody
        -#     %tr
        -#       %td
        -#         = link_to 'https://www.netiq.com/', :target => '_blank' do
        -#           = image_tag 'products/netiq.png'
        -#       %td
        -#         = link_to 'https://www.netiq.com/', :target => '_blank' do
        -#           %h1.product-name NETIQ
        -#         %p
        -#           %strong Identity & Access Management
        -#         %p
        -#           With Identity-Powered Access solutions, you can quickly and
        -#           cost-effectively integrate Identity and Access Management (IAM)
        -#           policies across local, mobile and cloud environments. Our
        -#           solutions use integrated identity information to create,
        -#           modify, and retire identities and control their access.
        -#           We provide Identity Management, Access Management, single
        -#           sign-on (SSO), access governance, identity tracking and
        -#           Active Directory (AD) administration.
        -#
        -# .person-anchor &nbsp;
        -# %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
        -#   %tbody
        -#     %tr
        -#       %td
        -#         = link_to 'https://www.varonis.com/products/datadvantage/', :target => '_blank' do
        -#           = image_tag 'products/varonis.png'
        -#       %td
        -#         = link_to 'https://www.varonis.com/products/datadvantage/', :target => '_blank' do
        -#           %h1.product-name VARONIS
        -#         %p
        -#           %strong File Integrity Monitoring
        -#         %p
        -#           Monitor file activity and user behavior, prevent data breaches,
        -#           and make permissions management and auditing a breeze.
        -#           DatAdvantage makes it easy to track and monitor file activity,
        -#           analyze user behavior, and report on all of the action happening
        -#           on your file servers and NAS.
        -#
        -# .person-anchor &nbsp;
        -# %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
        -#   %tbody
        -#     %tr
        -#       %td
        -#         = link_to 'https://www.imperva.com/', :target => '_blank' do
        -#           = image_tag 'products/imperva.png'
        -#       %td
        -#         = link_to 'https://www.imperva.com/', :target => '_blank' do
        -#           %h1.product-name IMPERVA
        -#         %p
        -#           %strong Web Application Firewall | File Integrity Monitoring | Database Activity Monitoring
        -#         %p
        -#           Imperva SecureSphere Web Application Firewall analyzes all user
        -#           access to your business-critical web applications and protects
        -#           your applications and data from cyber attacks.
        -#         %p
        -#           Imperva's file security solutions protect sensitive files on file
        -#           servers, storage devices, and content repositories, as well as
        -#           provide full visibility into data ownership, usage and access
        -#           rights.
        -#         %p
        -#           Imperva's database security solutions secure sensitive data stored
        -#           in databases against compromises of their confidentiality,
        -#           integrity and availability.
        -#
        -#
        -#
        -# .person-anchor &nbsp;
        -# %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
        -#   %tbody
        -#     %tr
        -#       %td
        -#         = link_to 'https://www.a10networks.com/', :target => '_blank' do
        -#           = image_tag 'products/a10.png'
        -#       %td
        -#         = link_to 'https://www.a10networks.com/', :target => '_blank' do
        -#           %h1.product-name A10
        -#         %p
        -#           %strong Application Delivery Controllers | Server Load Balancers
        -#         %p
        -#           A10's Application Delivery Controllers, an evolution of
        -#           traditional server load balancers (SLBs), ensure that customer
        -#           data center applications and networks remain highly available,
        -#           accelerated, and secure.
        -#         %p
        -#           Application availability enables your Web and key infrastructure
        -#           servers to scale and seamlessly redirect users in the event of an
        -#           outage, using core advanced layer 4-7 load balancing and
        -#           application health-checks. Acceleration capabilities provide fast
        -#           and responsive service to your customers while reducing
        -#           infrastructure server requirements, using features such as SSL
        -#           offload, RAM caching, compression and TCP reuse.
        -#
        -# .person-anchor &nbsp;
        -# %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
        -#   %tbody
        -#     %tr
        -#       %td{:style => 'text-align: center;'}
        -#         = link_to 'http://www8.hp.com/us/en/software-solutions/application-security/', :target => '_blank' do
        -#           = image_tag 'products/fortify.png'
        -#       %td
        -#         = link_to 'http://www8.hp.com/us/en/software-solutions/application-security/', :target => '_blank' do
        -#           %h1.product-name Fortify
        -#         %p
        -#           %strong Source Code Analyzer
        -#         %p
        -#           HPE Security Fortify Static Code Analyzer (SCA) is a static
        -#           application security testing (SAST) offering used by development
        -#           groups and security professionals to analyze the source code of
        -#           an application for security vulnerabilities. It reviews code and
        -#           helps developers identify and resolve issues with less effort and
        -#           in less time.
        -#
        -# .person-anchor &nbsp;
        -# %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
        -#   %tbody
        -#     %tr
        -#       %td
        -#         = link_to 'https://www.bluecoat.com/products-and-solutions/security-analytics-and-incident-response', :target => '_blank' do
        -#           = image_tag 'products/bluecoat.png'
        -#       %td
        -#         = link_to 'https://www.bluecoat.com/products-and-solutions/security-analytics-and-incident-response', :target => '_blank' do
        -#           %h1.product-name Bluecoat
        -#         %p
        -#           %strong Secure Analytics
        -#         %p
        -#           Like a security camera for the network, Blue Coat Security
        -#           Analytics delivers full network security visibility, advanced
        -#           network forensics, and real-time content inspection for all
        -#           network activity. A comprehensive record of all network
        -#           activity lets you conduct swift forensic investigations,
        -#           perform proactive incident response and resolve breaches in a
        -#           fraction of the time.
        -#
        -# .person-anchor &nbsp;
        -# %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
        -#   %tbody
        -#     %tr
        -#       %td
        -#         = link_to 'http://www.landesk.com/', :target => '_blank' do
        -#           = image_tag 'products/landesk.png'
        -#       %td
        -#         = link_to 'http://www.landesk.com/', :target => '_blank' do
        -#           %h1.product-name Landesk
        -#         %p
        -#           %strong Systems Management
        -#         %p
        -#           Modernize your IT, satisfy growing user expectations, and
        -#           manage all the devices users carry from a single, unified
        -#           endpoint management solution. Update how you deliver
        -#           applications to users through automated rollout projects and
        -#           a self-service app store experience.
        -#











        #backup-recovery.overview-text.g-lg-8.g-sm-12.g-lg-push-2.g-sm-push-none.background-none
          %div
            %h1.product-group
              %span.text-bauhaus{:style => "font-size:25px;"} Datacenter, Backup & Recovery Products

        - @datacenter_products.each do |product|
          .person-anchor &nbsp;
          %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
            %tbody
              %tr
                %td
                  = link_to product.link, :target => '_blank' do
                    = image_tag product.image
                %td
                  = link_to product.link, :target => '_blank' do
                    %h1.product-name= product.name
                  %p
                    %strong= product.label
                  %p= product.description.html_safe

        -# .person-anchor &nbsp;
        -# %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
        -#   %tbody
        -#     %tr
        -#       %td
        -#         = link_to 'http://www.vmware.com/ap.html', :target => '_blank' do
        -#           = image_tag 'products/vmware.png'
        -#       %td
        -#         = link_to 'http://www.vmware.com/ap.html', :target => '_blank' do
        -#           %h1.product-name VMware
        -#         %p
        -#           %strong Virtualization
        -#         %p
        -#           Virtualization makes your infrastructure vastly simpler and more
        -#           efficient. Applications get deployed faster, performance and
        -#           availability soar, and operations become automated. The net
        -#           result: IT that's easier and less costly to own and manage-so you
        -#           can redirect resources toward IT innovations to grow the business.
        -#
        -# .person-anchor &nbsp;
        -# %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
        -#   %tbody
        -#     %tr
        -#       %td
        -#         = link_to 'https://www.axway.com/en', :target => '_blank' do
        -#           = image_tag 'products/axway.png'
        -#       %td
        -#         = link_to 'https://www.axway.com/en', :target => '_blank' do
        -#           %h1.product-name Axway
        -#         %p
        -#           %strong Managed File Transfer
        -#         %p
        -#           Axway products and solutions combine unrivaled breadth of
        -#           technology and depth of governance to speed and secure business
        -#           interactions by optimizing the way information is moved, managed,
        -#           and protected.
        -#
        -# .person-anchor &nbsp;
        -# %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
        -#   %tbody
        -#     %tr
        -#       %td
        -#         = link_to 'https://www.veeam.com/vm-backup-recovery-replication-software.html', :target => '_blank' do
        -#           = image_tag 'products/veeam.png'
        -#       %td
        -#         = link_to 'https://www.veeam.com/vm-backup-recovery-replication-software.html', :target => '_blank' do
        -#           %h1.product-name Veeam
        -#         %p
        -#           %strong VM Backup and Replication
        -#         %p
        -#           Veeam Backup & Replication leverages server virtualization,
        -#           modern storage and the cloud to provide Availability for the
        -#           Always-On Enterprise and deliver recovery time and point objectives
        -#           of <15 minutes for ALL applications. Veeam provides fast, flexible
        -#           and reliable recovery of virtualized applications and data,
        -#           unifying backup and replication in a single solution for VMware
        -#           vSphere and Microsoft Hyper-V virtual environments.
        -#
        -# .person-anchor &nbsp;
        -# %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
        -#   %tbody
        -#     %tr
        -#       %td
        -#         = link_to 'https://www.veritas.com/', :target => '_blank' do
        -#           = image_tag 'products/veritas.png'
        -#       %td
        -#         = link_to 'https://www.veritas.com/', :target => '_blank' do
        -#           %h1.product-name Veritas
        -#         %p
        -#           %strong High Availability
        -#         %p
        -#           InfoScale Availability provides high availability and disaster
        -#           recovery over any distance for your critical business services,
        -#           including individual databases, custom applications, and complex
        -#           multitier applications across physical and virtual environments.
        -#
        -# .person-anchor &nbsp;
        -# %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
        -#   %tbody
        -#     %tr
        -#       %td
        -#         = link_to 'http://www.nutanix.com/whatwedo/', :target => '_blank' do
        -#           = image_tag 'products/nutanix.png'
        -#       %td
        -#         = link_to 'http://www.nutanix.com/whatwedo/', :target => '_blank' do
        -#           %h1.product-name Nutanix
        -#         %p
        -#           %strong HyperConverge
        -#         %p
        -#           Nutanix makes IT infrastructure invisible with an enterprise
        -#           cloud platform that delivers the agility and economics of the
        -#           public cloud – without sacrificing the security and control of
        -#           on-premise infrastructure.
        -#
        -# .person-anchor &nbsp;
        -# %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
        -#   %tbody
        -#     %tr
        -#       %td
        -#         = link_to 'http://www.huawei.com/ph/', :target => '_blank' do
        -#           = image_tag 'products/huawei.png'
        -#       %td
        -#         = link_to 'http://www.huawei.com/ph/', :target => '_blank' do
        -#           %h1.product-name Huawei
        -#         %p
        -#           %strong End-to-end Solutions
        -#         %p
        -#           A leading global information and communications technology
        -#           (ICT) solutions provider. Driven by responsible operations,
        -#           ongoing innovation, and open collaboration, they have
        -#           established a competitive ICT portfolio of end-to-end solutions
        -#           in telecom and enterprise networks, devices, and cloud computing.
        -#
        -# .person-anchor &nbsp;
        -# %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
        -#   %tbody
        -#     %tr
        -#       %td
        -#         = link_to 'http://www.dell.com/us/business/p/servers.aspx?c=us&cid=test&cs=04&dgc=IR&l=en&lid=7AA29CFC&s=bsd', :target => '_blank' do
        -#           = image_tag 'products/dell_black.jpg'
        -#       %td
        -#         = link_to 'http://www.dell.com/us/business/p/servers.aspx?c=us&cid=test&cs=04&dgc=IR&l=en&lid=7AA29CFC&s=bsd', :target => '_blank' do
        -#           %h1.product-name Dell
        -#         %p
        -#           %strong Servers
        -#         %p
        -#           Dell PowerEdge servers maximize operational effectiveness and
        -#           optimize flexibility at any scale. Focused on accelerated
        -#           performance, enhanced automation and simplified management,
        -#           the PowerEdge line-up of servers can help you experience
        -#           worry-free computing through greater IT efficiency,
        -#           superior IT agility, and better IT reliability.
        -#










        #storage-endpoint.overview-text.g-lg-8.g-sm-12.g-lg-push-2.g-sm-push-none.background-none
          %div
            %h1.product-group
              %span.text-bauhaus{:style => "font-size:25px;"} Storage & Endpoint Products

        - @storage_products.each do |product|
          .person-anchor &nbsp;
          %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
            %tbody
              %tr
                %td
                  = link_to product.link, :target => '_blank' do
                    = image_tag product.image
                %td
                  = link_to product.link, :target => '_blank' do
                    %h1.product-name= product.name
                  %p
                    %strong= product.label
                  %p= product.description.html_safe

        -# .person-anchor &nbsp;
        -# %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
        -#   %tbody
        -#     %tr
        -#       %td
        -#         = link_to 'http://www.violin-memory.com/', :target => '_blank' do
        -#           = image_tag 'products/violin-memory.png'
        -#       %td
        -#         = link_to 'http://www.violin-memory.com/', :target => '_blank' do
        -#           %h1.product-name Violin Memory
        -#         %p
        -#           %strong Storage
        -#         %p
        -#           The Violin Flash Storage Platform stores more data in a smaller
        -#           footprint and drives faster application performance for the same
        -#           cost as traditional storage. It's time to make Violin your primary
        -#           storage.
        -# .person-anchor &nbsp;
        -# %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
        -#   %tbody
        -#     %tr
        -#       %td
        -#         = link_to 'http://www.quantum.com/', :target => '_blank' do
        -#           = image_tag 'products/quantum.png'
        -#       %td
        -#         = link_to 'http://www.quantum.com/', :target => '_blank' do
        -#           %h1.product-name Quantum
        -#         %p
        -#           %strong Storage
        -#         %p
        -#           Provide a combination of technologies-including disk,
        -#           deduplication, tape, encryption, file system and archiving
        -#           software-that solve your unique short- and long-term retention
        -#           challenges.
        -#
        -# .person-anchor &nbsp;
        -# %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
        -#   %tbody
        -#     %tr
        -#       %td
        -#         = link_to 'https://www.symantec.com/products/threat-protection/endpoint-family/endpoint-protection', :target => '_blank' do
        -#           = image_tag 'products/symantec.png'
        -#       %td
        -#         = link_to 'https://www.symantec.com/products/threat-protection/endpoint-family/endpoint-protection', :target => '_blank' do
        -#           %h1.product-name Symantec
        -#         %p
        -#           %strong Antivirus
        -#         %p
        -#           Antivirus should definitely have the ability to root out existing
        -#           malware, but its ongoing task is to prevent ransomware, botnets,
        -#           Trojans, and other types of nasty programs from getting a foothold.
        -#
        -# .person-anchor &nbsp;
        -# %table.text-and-image-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%;"}
        -#   %tbody
        -#     %tr
        -#       %td
        -#         = link_to 'http://www.trendmicro.com.ph/ph/security-intelligence/enterprise-ransomware/index.html', :target => '_blank' do
        -#           = image_tag 'products/trend-micro.png'
        -#       %td
        -#         = link_to 'http://www.trendmicro.com.ph/ph/security-intelligence/enterprise-ransomware/index.html', :target => '_blank' do
        -#           %h1.product-name Trend Micro
        -#         %p
        -#           %strong Antivirus
        -#         %p
        -#           Trend Micro detected 99 percent of ransomware threats in email
        -#           messages or web links. That still leaves 1 percent that could
        -#           make it through to your endpoint. Trend Micro Smart Protection
        -#           Suites deliver several capabilities that minimize the risk of
        -#           ransomware to your endpoints, including Behavior Monitoring,
        -#           Application Control, and Vulnerability Shielding.
        -#

        .person-anchor &nbsp;
        .person-anchor &nbsp;
        .person-anchor &nbsp;
        .person-anchor &nbsp;
        .person-anchor &nbsp;
        .person-anchor &nbsp;
    .bcms-clearfix.custom-clearfix


  %a{:href => "#0", :class=> "cd-top"}

:css
  .page-billboard {
      background-image: url('../images/our-products-bg.png');
  }
  @media screen and (max-width: 640px;) {
      .page-billboard {
          background-image: url('../images/our-products-bg.png');
      }
  }
