- title 'Our Solutions'
- meta_tag :description, 'As a leading digital solution provider supported by the best technology and expertise, we offer global compliance, digital experience and content solutions'


.page-billboard.page-billboard--xsmall


.g-container
  %article.overview.overview--bg-True
    .overview-text.g-lg-8.g-sm-12.g-lg-push-2.g-sm-push-none
      %div
        %h1
          %span.text-bauhaus{:style => "font-size:24px;"} Maintenance Services
        %p Hardware and OS support with 24x7 coverage, 2-hour response time in Metro Manila and 4-hour response time in nearby provinces
        %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
          %tbody
            %tr
              %td
                %ul
                  %li HP Proliant and Integrity systems
                  %li Dell PowerEdge and PowerVault
                  %li EMC Clariion
                  %li IBM xSeries and Power Systems
                  %li Cisco Switches and Routers
              %td
                %ul
                  %li Bluecoat Mach5, Proxy and Packetshaper
                  %li PABX
                  %li Checkpoint UTM
                  %li Other systems, storage, network and security equipment
    .overview-text-two.g-lg-8.g-sm-12.g-lg-push-2.g-sm-push-none
      %div
        %h1
          %span.text-bauhaus{:style => "font-size:24px;"} Engineering Services
        %p Delivered by a strong team of experienced engineers with extensive domain knowledge in a wide range of industries.
        %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
          %tbody
            %tr
              %td
                %ul
                  %li Preventive maintenance and repair
                  %li System backup and restoration
                  %li Network assessment
                  %li System migration
              %td
                %ul
                  %li Machine relocation
                  %li Consultation
                  %li Structured Cabling
    .overview-text-last.g-lg-8.g-sm-12.g-lg-push-2.g-sm-push-none
      %div
        %h1
          %span.text-bauhaus{:style => "font-size:24px;"} Managed Services
        %p Outsourcing day-to-day IT Management responsibilities as a strategic method of improving operations
        %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
          %tbody
            %tr
              %td
                %ul
                  %li Systems and network administrator
                  %li Helpdesk and Workplace Support
                  %li System Development
              %td
                %ul
                  %li Datacenter operations
                  %li Application support
                  %li Seat Management
        .bcms-clearfix.custom-clearfix
:css
  .page-billboard {
      background: none;
      height: 0px !important;
  }
  @media screen and (max-width: 640px;) {
      .page-billboard {
          background-image: none;
      }
  }
