%h1 Recruitments

= link_to 'Create New Recruitment Post', [:new, :admin, :post]

%br
%br
%br

- if flash[:notice]
  .alert.alert-info{:role => 'alert'}= flash[:notice]
  %br

%table.table.table-hover

  %tr
    %th Title
    %th Posted by
    %th Date Created
    %th Date Updated
    %th


  - @posts.each do |post|
    %tr
      %td= post.title
      %td= post.author
      %td= post.date_posted
      %td= post.date_updated
      %td
        = link_to 'View', [:admin, post]
        |
        = link_to 'Edit', [:edit, :admin, post]
        |
        = link_to 'Delete', [:admin, post], :method => :delete

= paginate @posts
