.col-md-6

  %h1 Create New Recruitment Post

  - if @form.errors.present?
    .alert.alert-info{:role => 'alert'}
      = @form.errors.full_messages.first

  = form_for @form, :url => {:action => 'create'} do |f|
    = f.hidden_field :admin_id, :value => current_admin.id
    .form-group
      = f.label :title
      = f.text_field :title, :class => 'form-control', :required => true

    .form-group
      = f.text_area :content, :class => 'ckeditor form-control',
        :required => true

    .form-group
      = f.submit 'Submit', :class => 'form-control'


:javascript
  $('.ckeditor').ckeditor({});
