= link_to '< Back', [:admin, :posts]

%br
%br

Title:
%strong= @post.title
%br
Posted by:
%strong= @post.author
%br
Date posted:
%strong= @post.date_posted
%br
Date updated:
%strong= @post.date_updated
%br
%br

Content:
%strong= @post.content
%br
