%div{:style => 'padding-top: 100px;'}
.col-md-4.col-md-offset-4
  %h2 Admin Log in

  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-group.field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, :class => 'form-control'
    .form-group.field
      = f.label :password
      %br/
      = f.password_field :password, autocomplete: 'off', :class => 'form-control'

    .form-group.actions
      = f.submit 'Log in', :class => 'btn btn-default form-control'
  = render 'devise/shared/links'
