.col-md-6

  = link_to '< Back', [:admin, :products]

  %h1 Edit Product

  - if flash[:notice]
    .alert.alert-info{:role => 'alert'}= flash[:notice]

  - if @form.errors.present?
    .alert.alert-info{:role => 'alert'}
      = @form.errors.full_messages.first

  = form_for @form, :url => {:action => 'update'} do |f|
    .form-group
      = f.collection_select :product_category_id,
        ProductCategory.all, :id , :name, {:prompt => 'Please a category'}, :class => 'form-control', :required => true

    .form-group
      = f.label :name
      = f.text_field :name, :class => 'form-control', :required => true

    .form-group
      = f.label :label
      = f.text_field :label, :class => 'form-control', :required => true

    .form-group
      = f.label :link
      = f.text_field :link, :class => 'form-control', :required => true

    .form-group
      = f.label :description
      = f.text_area :description, :class => 'ckeditor form-control',
        :required => true

    .form-group
      = f.label :image, 'Upload Image'
      = f.filepicker_field :image

    .form-group
      = f.submit 'Submit', :class => 'form-control'
