%h1 Products

= link_to 'Create New Product', [:new, :admin, :product]

%br
%br
%br

- if flash[:notice]
  .alert.alert-info{:role => 'alert'}= flash[:notice]
  %br


- if @products.present?

  %table.table.table-hover

    %tr
      %th Category
      %th Name
      %th Label
      %th


    - @products.each do |product|
      %tr
        %td= product.product_category.name
        %td= product.name
        %td= product.label
        %td
          = link_to 'View', [:admin, product]
          |
          = link_to 'Edit', [:edit, :admin, product]
          |
          = link_to 'Delete', [:admin, product], :method => :delete

  = paginate @products
