.col-md-6
  = link_to '< Back', [:admin, :products]

  %br
  %br

  Category:
  %strong= @product.product_category.name
  %br
  Name:
  %strong= @product.name
  %br
  Label:
  %strong= @product.label
  %br
  Link:
  %strong= @product.link
  %br
  Descrption:
  %strong= @product.description.html_safe
  %br

  Image:
  - if @product.image
    = filepicker_image_tag @product.image, :w => 300, :fit => 'clip'
  - else
    No image yet.
