.page-billboard--contact-us h1 {
  font-size: 24px !important;
}

.page-billboard {
  background-color:#d7d2cb;
  background-position:center center;
  background-size:cover;
  min-height:400px;
  padding:100px 0 60px
}
.page-billboard h1,.page-billboard p {
  color: #fff !important;
}

.page-billboard p {
  font-size: 15px !important;
}

.page-billboard h1,.page-billboard h2,.page-billboard h3,.page-billboard h4,.page-billboard h5 {
  color:#fff;
  line-height:1.2
}
.page-billboard-text {
  // background:rgba(0,87,184,0.8);
  background-color: rgba(23, 100, 126, 0.7);
  border-bottom:10px solid #fff;
  color:#fff;
  margin:0 40px 0 84px;
  max-width:620px;
  padding:40px;
  position:relative;
  z-index:5
}

.page-billboard--contact-us {
  position:relative
}
.page-billboard--contact-us .page-billboard-map {
  bottom:0;
  left:0;
  position:absolute;
  right:0;
  top:0
}
.page-billboard--contact-us .page-billboard-text {
  max-width:335px !important;
}

.page-billboard--contact-us h1 {
  margin-bottom:6px
}
.page-billboard--contact-us p {
  font-size:16px
}
