.padding-bottom-half {
  padding-bottom: 50px;
}

.category-parent {
  margin: 0 -22px !important;
}

.category-component {
  padding: 0px !important;
  height: 300px;
  margin: -10px !important;
  margin-bottom: 20px !important;
  overflow: hidden;
}

.category-component .holder {
  position: relative;
  overflow: hidden;
  height: 100%;
}


.category-component .bg-cover {
  overflow: hidden;
  z-index: 2;
}

.category-component .bg-cover img {
  display: block;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.category-component .text-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 60%;
  background-color: rgba(23, 100, 126, 0.7);
  padding: 110px 20px 10px;
  color: #fff;
  text-align: center;
  margin-top: -10px;
}

.category-component .text-box .button {
  padding: 5px;
  text-transform: none;
  font-size: 19px;
  line-height: 24px;
  display: block;
  font-weight: 300;
  margin-bottom: 17px;
  min-width: 0;
  color: #fff !important;
}

.category-component .text-box p {
  color: #fff !important;
  font-size: 15px;
}


.category-component .text-box .button:hover {
  background-color: #fff;
  color: #0079c9 !important;
  text-decoration: none !important;
}

.category-component .link {
  position: absolute;
  right: 5%;
  bottom: 0;
  width: 40%;
  color: #fff;
  z-index: 3;
  text-decoration: none;
  background-color: rgba(23, 100, 126, 0.9);
  padding: 10px 20px;
  line-height: 20px;
  font-size: 18px;
}

.category-component .link:hover {
  text-decoration: underline;
}


.blue {
  border: 1px solid white !important;
  background: #17647e;
  border-radius: 5px !important;
}

.padding-top {
  padding-top: 60px !important;
}





@media screen and (max-width: 767px) {

  .category-parent {
    margin: 0 10px !important;
  }
}


@media screen and (min-width: 767px) {

  .category-component .holder:hover img {
    transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    -webkit-transform: scale(1.03);
  }
}


@media screen and (max-width: 1000px) {

  .category-component {
    padding: 0 0 5px;
    height: auto;
  }

  .category-component .link {
    width: 260px;
    text-align: left;
    left: 50%;
    right: auto;
    margin-left: -130px;
  }

  .category-component .bg-cover {
    position: relative;
    text-align: right;
    height: auto;
  }

  .category-component .bg-cover img {
    width: 100% !important;
    height: auto !important;
    margin: 0 !important;
  }

  .category-component .text-box {
    position: relative;
    width: 100%;
    padding: 30px 15px 10px;
    color: #fff;
    top: -1px;
    text-align: center;
  }

  .category-component .text-box p {
    margin: 0 0 15px;
  }

  .category-component .text-box .button {
    padding: 14px 9px 13px;
    text-transform: none;
    font-size: 24px;
    line-height: 24px;
    display: block;
    margin-bottom: 17px;
    min-width: 0;
    color: #fff !important;
  }

  .category-component .text-box .button:hover {
    background-color: #fff;
    color: #0079c9 !important;
  }
}

@media screen and (max-width: 767px) {
  .padding-top {
    padding-top: 20px !important;
  }
}

.category-container {
  padding: 3% !important;
  width: 100% !important;
}
@media screen and (max-width: 1225px) {
  .category-container {
    padding: 3% !important;
    width: 100% !important;
  }
}

@media  screen and (min-width: 600px) {
  .category-component .text-box {
    margin-top: -50px;
  }

}



@media  screen and (min-width: 1300px) {
  .category-component .text-box {
    margin-top: -50px;
  }

}



@media only screen and (min-width:1500px){
  .category-component .text-box p {
    font-size: 16px;
  }
}
