.product-group {
  line-height: 1.2;
  margin: 0 auto;
  padding: 0 16px 14px;
  position: relative;
  text-align: center;
  margin-bottom:24px !important;
}


.product-group:after {
  background: #279989;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  margin-left: -90px;
  position: absolute;
  width: 180px;
}


.background-none:before{
  background: none !important;
}

.page-path {
  top: 80;
  position: fixed;
  background: #f9f9f9;
  border-bottom: 2px solid #e3e3e3;
  color: #81878c;
  font-size: 13px;
  padding: 14px 0 12px;
  text-align: center;
  width: 100%;
  z-index: 999;
}


.page-path a {
  color: #279989 !important;
}




.products-container {
  padding-top: 100px !important;
}



:target {
  animation: highlight 1s ease;
  transform: translateX(20px);
}

@keyframes highlight {
  100% { border-left-color: white; }
}

section > div {
  border-left: 40px solid white;
  padding: 10px;
  transition: all 0.5s ease;
  padding-right: 50px;
  margin-left: -20px;
}



@media screen and (min-width: 1500px) {
  .storage-container {
    min-height: 1000px;
  }

}

.product-name {
  z-index: 999;
  color: #2f363f !important;
}

.product-name:hover {
  text-decoration: underline;
  -moz-text-decoration-color: #279989; /* Code for Firefox */
  text-decoration-color: #279989;
}
