html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */html {
  font-family:sans-serif;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%
}
body {
  margin:0;
}


/*p{ color:#81878c !important; }*/
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
  display:block
}
audio,canvas,progress,video {
  display:inline-block;
  vertical-align:baseline
}
audio:not([controls]) {
  display:none;
  height:0
}
[hidden],template {
  display:none
}
a {
  background-color:transparent
}
a:active,a:hover {
  outline:0
}
abbr[title] {
  border-bottom:1px dotted
}
b,strong {
  font-weight:bold
}
dfn {
  font-style:italic
}
h1 {
  font-size:2em;
  margin:0.67em 0
}
mark {
  background:#ff0;
  color:#000
}
small {
  font-size:80%
}
sub,sup {
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline
}
sup {
  top:-0.5em
}
sub {
  bottom:-0.25em
}
img {
  border:0
}
svg:not(:root) {
  overflow:hidden
}
figure {
  margin:1em 40px
}
hr {
  box-sizing:content-box;
  height:0
}
pre {
  overflow:auto
}
code,kbd,pre,samp {
  font-family:monospace, monospace;
  font-size:1em
}
button,input,optgroup,select,textarea {
  color:inherit;
  font:inherit;
  margin:0
}
button {
  overflow:visible
}
button,select {
  text-transform:none
}
button,html input[type="button"],input[type="reset"],input[type="submit"] {
  -webkit-appearance:button;
  cursor:pointer
}
button[disabled],html input[disabled] {
  cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner {
  border:0;
  padding:0
}
input {
  line-height:normal
}
input[type="checkbox"],input[type="radio"] {
  box-sizing:border-box;
  padding:0
}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
  height:auto
}
input[type="search"] {
  -webkit-appearance:textfield;
  box-sizing:content-box
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
  -webkit-appearance:none
}
fieldset {
  border:1px solid #c0c0c0;
  margin:0 2px;
  padding:0.35em 0.625em 0.75em
}
legend {
  border:0;
  padding:0
}
textarea {
  overflow:auto
}
optgroup {
  font-weight:bold
}
table {
  border-collapse:collapse;
  border-spacing:0
}
td,th {
  padding:0
}
.hidden {
  display:none !important
}
@media screen and (min-width: 960px) {
  .lg-hidden {
    display:none !important
  }
}
@media screen and (max-width: 960px) {
  .md-hidden {
    display:none !important
  }
}
@media screen and (max-width: 640px) {
  .sm-hidden {
    display:none !important
  }
}
.clearfix:after,.g-container:after,.article-blocks:after,.article-columns:after,.article-list-item:after,.article-list-filter:after,.article-list-filter form:after,.contact-us-form form:after,.contact-us-message:after,.content-billboard:after,.event-post:after,.elq-form .form-design-field:after,.info-rows:after,.leadership:after,.page-pager:after,.promo-block:after {
  clear:both;
  content:'';
  display:block
}
.g-container {
  margin:0 auto;
  max-width:1240px;
  padding:0 20px
}
.g-lg-1 {
  width:6.6666666667%;
  float:left;
  margin-left:0.8333333333%;
  margin-right:0.8333333333%
}
.g-lg-2 {
  width:15%;
  float:left;
  margin-left:0.8333333333%;
  margin-right:0.8333333333%
}
.g-lg-3 {
  width:23.3333333333%;
  float:left;
  margin-left:0.8333333333%;
  margin-right:0.8333333333%
}
.g-lg-4 {
  width:31.6666666667%;
  float:left;
  margin-left:0.8333333333%;
  margin-right:0.8333333333%
}
.g-lg-5 {
  width:40%;
  float:left;
  margin-left:0.8333333333%;
  margin-right:0.8333333333%
}
.g-lg-6 {
  width:48.3333333333%;
  float:left;
  margin-left:0.8333333333%;
  margin-right:0.8333333333%
}
.g-lg-7 {
  width:56.6666666667%;
  float:left;
  margin-left:0.8333333333%;
  margin-right:0.8333333333%
}
.g-lg-8 {
  width:65%;
  float:left;
  margin-left:0.8333333333%;
  margin-right:0.8333333333%
}
.g-lg-9 {
  width:73.3333333333%;
  float:left;
  margin-left:0.8333333333%;
  margin-right:0.8333333333%
}
.g-lg-10 {
  width:81.6666666667%;
  float:left;
  margin-left:0.8333333333%;
  margin-right:0.8333333333%
}
.g-lg-11 {
  width:90%;
  float:left;
  margin-left:0.8333333333%;
  margin-right:0.8333333333%
}
.g-lg-12 {
  width:98.3333333333%;
  float:left;
  margin-left:0.8333333333%;
  margin-right:0.8333333333%
}
.g-lg-push-1 {
  margin-left:9.1666666667%
}
.g-lg-push-2 {
  margin-left:17.5%
}
.g-lg-push-3 {
  margin-left:25.8333333333%
}
.g-lg-push-4 {
  margin-left:34.1666666667%
}
.g-lg-push-5 {
  margin-left:42.5%
}
.g-lg-push-6 {
  margin-left:50.8333333333%
}
.g-lg-push-7 {
  margin-left:59.1666666667%
}
.g-lg-push-8 {
  margin-left:67.5%
}
.g-lg-push-9 {
  margin-left:75.8333333333%
}
.g-lg-push-10 {
  margin-left:84.1666666667%
}
.g-lg-push-11 {
  margin-left:92.5%
}
.g-lg-push-12 {
  margin-left:100.833333333%
}
.g-lg-push-0 {
  margin-left:0.8333333333%
}
.g-lg-full {
  width:98.3333333333%;
  float:left;
  margin-left:0.8333333333%;
  margin-right:0.8333333333%
}
.g-lg-half {
  width:48.3333333333%;
  float:left;
  margin-left:0.8333333333%;
  margin-right:0.8333333333%
}
.g-lg-third {
  width:31.6666666667%;
  float:left;
  margin-left:0.8333333333%;
  margin-right:0.8333333333%
}
.g-lg-quarter {
  width:23.3333333333%;
  float:left;
  margin-left:0.8333333333%;
  margin-right:0.8333333333%
}
@media screen and (max-width: 960px) {
  .g-md-1 {
    width:6.6666666667%;
    float:left;
    margin-left:0.8333333333%;
    margin-right:0.8333333333%
  }
  .g-md-2 {
    width:15%;
    float:left;
    margin-left:0.8333333333%;
    margin-right:0.8333333333%
  }
  .g-md-3 {
    width:23.3333333333%;
    float:left;
    margin-left:0.8333333333%;
    margin-right:0.8333333333%
  }
  .g-md-4 {
    width:31.6666666667%;
    float:left;
    margin-left:0.8333333333%;
    margin-right:0.8333333333%
  }
  .g-md-5 {
    width:40%;
    float:left;
    margin-left:0.8333333333%;
    margin-right:0.8333333333%
  }
  .g-md-6 {
    width:48.3333333333%;
    float:left;
    margin-left:0.8333333333%;
    margin-right:0.8333333333%
  }
  .g-md-7 {
    width:56.6666666667%;
    float:left;
    margin-left:0.8333333333%;
    margin-right:0.8333333333%
  }
  .g-md-8 {
    width:65%;
    float:left;
    margin-left:0.8333333333%;
    margin-right:0.8333333333%
  }
  .g-md-9 {
    width:73.3333333333%;
    float:left;
    margin-left:0.8333333333%;
    margin-right:0.8333333333%
  }
  .g-md-10 {
    width:81.6666666667%;
    float:left;
    margin-left:0.8333333333%;
    margin-right:0.8333333333%
  }
  .g-md-11 {
    width:90%;
    float:left;
    margin-left:0.8333333333%;
    margin-right:0.8333333333%
  }
  .g-md-12 {
    width:98.3333333333%;
    float:left;
    margin-left:0.8333333333%;
    margin-right:0.8333333333%
  }
  .g-md-push-1 {
    margin-left:9.1666666667%
  }
  .g-md-push-2 {
    margin-left:17.5%
  }
  .g-md-push-3 {
    margin-left:25.8333333333%
  }
  .g-md-push-4 {
    margin-left:34.1666666667%
  }
  .g-md-push-5 {
    margin-left:42.5%
  }
  .g-md-push-6 {
    margin-left:50.8333333333%
  }
  .g-md-push-7 {
    margin-left:59.1666666667%
  }
  .g-md-push-8 {
    margin-left:67.5%
  }
  .g-md-push-9 {
    margin-left:75.8333333333%
  }
  .g-md-push-10 {
    margin-left:84.1666666667%
  }
  .g-md-push-11 {
    margin-left:92.5%
  }
  .g-md-push-12 {
    margin-left:100.833333333%
  }
  .g-md-push-0 {
    margin-left:0.8333333333%
  }
  .g-md-full {
    width:98.3333333333%;
    float:left;
    margin-left:0.8333333333%;
    margin-right:0.8333333333%
  }
  .g-md-half {
    width:48.3333333333%;
    float:left;
    margin-left:0.8333333333%;
    margin-right:0.8333333333%
  }
  .g-md-third {
    width:31.6666666667%;
    float:left;
    margin-left:0.8333333333%;
    margin-right:0.8333333333%
  }
  .g-md-quarter {
    width:23.3333333333%;
    float:left;
    margin-left:0.8333333333%;
    margin-right:0.8333333333%
  }
}
@media screen and (max-width: 640px) {
  .g-sm-1 {
    width:6.6666666667%;
    float:left;
    margin-left:0.8333333333%;
    margin-right:0.8333333333%
  }
  .g-sm-2 {
    width:15%;
    float:left;
    margin-left:0.8333333333%;
    margin-right:0.8333333333%
  }
  .g-sm-3 {
    width:23.3333333333%;
    float:left;
    margin-left:0.8333333333%;
    margin-right:0.8333333333%
  }
  .g-sm-4 {
    width:31.6666666667%;
    float:left;
    margin-left:0.8333333333%;
    margin-right:0.8333333333%
  }
  .g-sm-5 {
    width:40%;
    float:left;
    margin-left:0.8333333333%;
    margin-right:0.8333333333%
  }
  .g-sm-6 {
    width:48.3333333333%;
    float:left;
    margin-left:0.8333333333%;
    margin-right:0.8333333333%
  }
  .g-sm-7 {
    width:56.6666666667%;
    float:left;
    margin-left:0.8333333333%;
    margin-right:0.8333333333%
  }
  .g-sm-8 {
    width:65%;
    float:left;
    margin-left:0.8333333333%;
    margin-right:0.8333333333%
  }
  .g-sm-9 {
    width:73.3333333333%;
    float:left;
    margin-left:0.8333333333%;
    margin-right:0.8333333333%
  }
  .g-sm-10 {
    width:81.6666666667%;
    float:left;
    margin-left:0.8333333333%;
    margin-right:0.8333333333%
  }
  .g-sm-11 {
    width:90%;
    float:left;
    margin-left:0.8333333333%;
    margin-right:0.8333333333%
  }
  .g-sm-12 {
    width:98.3333333333%;
    float:left;
    margin-left:0.8333333333%;
    margin-right:0.8333333333%
  }
  .g-sm-push-1 {
    margin-left:9.1666666667%
  }
  .g-sm-push-2 {
    margin-left:17.5%
  }
  .g-sm-push-3 {
    margin-left:25.8333333333%
  }
  .g-sm-push-4 {
    margin-left:34.1666666667%
  }
  .g-sm-push-5 {
    margin-left:42.5%
  }
  .g-sm-push-6 {
    margin-left:50.8333333333%
  }
  .g-sm-push-7 {
    margin-left:59.1666666667%
  }
  .g-sm-push-8 {
    margin-left:67.5%
  }
  .g-sm-push-9 {
    margin-left:75.8333333333%
  }
  .g-sm-push-10 {
    margin-left:84.1666666667%
  }
  .g-sm-push-11 {
    margin-left:92.5%
  }
  .g-sm-push-12 {
    margin-left:100.833333333%
  }
  .g-sm-push-0 {
    margin-left:0.8333333333%
  }
  .g-sm-full {
    width:98.3333333333%;
    float:left;
    margin-left:0.8333333333%;
    margin-right:0.8333333333%
  }
  .g-sm-half {
    width:48.3333333333%;
    float:left;
    margin-left:0.8333333333%;
    margin-right:0.8333333333%
  }
  .g-sm-third {
    width:31.6666666667%;
    float:left;
    margin-left:0.8333333333%;
    margin-right:0.8333333333%
  }
  .g-sm-quarter {
    width:23.3333333333%;
    float:left;
    margin-left:0.8333333333%;
    margin-right:0.8333333333%
  }
}
body {
  color:#81878c;
  font-family:Avenir W01,Helvetica,Arial,sans-serif;
  font-size:16px;
  line-height:1.5
}
a,.text-link,.article-list-item a,.article-page a:not(.button-primary),.article-sidebar-list a,.text-page a:not(.button-primary),.event-post a:not(.button-primary),.press-release-item-page a:not(.button-primary),.text-and-image-table a:not(.button-primary),.fa {
  color:inherit;
  font:inherit;
  text-decoration:none;
  transition:color .2s, border .2s, background .2s, opacity .2s
}
.text-link,.article-list-item a,.article-page a:not(.button-primary),.article-sidebar-list a,.text-page a:not(.button-primary),.event-post a:not(.button-primary),.press-release-item-page a:not(.button-primary),.text-and-image-table a:not(.button-primary) {
  color:#0057b8;
  font-weight:bold
}
.text-link.active,.article-list-item a.active,.article-page a.active:not(.button-primary),.article-sidebar-list a.active,.text-page a.active:not(.button-primary),.event-post a.active:not(.button-primary),.press-release-item-page a.active:not(.button-primary),.text-and-image-table a.active:not(.button-primary),.text-link:hover,.article-list-item a:hover,.article-page a:hover:not(.button-primary),.article-sidebar-list a:hover,.text-page a:hover:not(.button-primary),.event-post a:hover:not(.button-primary),.press-release-item-page a:hover:not(.button-primary),.text-and-image-table a:hover:not(.button-primary) {
  color:#7bafd4
}
.theme-green .text-link,.theme-green .article-list-item a,.article-list-item .theme-green a,.theme-green .article-page a:not(.button-primary),.article-page .theme-green a:not(.button-primary),.theme-green .article-sidebar-list a,.article-sidebar-list .theme-green a,.theme-green .text-page a:not(.button-primary),.text-page .theme-green a:not(.button-primary),.theme-green .event-post a:not(.button-primary),.event-post .theme-green a:not(.button-primary),.theme-green .press-release-item-page a:not(.button-primary),.press-release-item-page .theme-green a:not(.button-primary),.theme-green .text-and-image-table a:not(.button-primary),.text-and-image-table .theme-green a:not(.button-primary) {
  color:#279989
}
.theme-green .text-link.active,.theme-green .article-list-item a.active,.article-list-item .theme-green a.active,.theme-green .article-page a.active:not(.button-primary),.article-page .theme-green a.active:not(.button-primary),.theme-green .article-sidebar-list a.active,.article-sidebar-list .theme-green a.active,.theme-green .text-page a.active:not(.button-primary),.text-page .theme-green a.active:not(.button-primary),.theme-green .event-post a.active:not(.button-primary),.event-post .theme-green a.active:not(.button-primary),.theme-green .press-release-item-page a.active:not(.button-primary),.press-release-item-page .theme-green a.active:not(.button-primary),.theme-green .text-and-image-table a.active:not(.button-primary),.text-and-image-table .theme-green a.active:not(.button-primary),.theme-green .text-link:hover,.theme-green .article-list-item a:hover,.article-list-item .theme-green a:hover,.theme-green .article-page a:hover:not(.button-primary),.article-page .theme-green a:hover:not(.button-primary),.theme-green .article-sidebar-list a:hover,.article-sidebar-list .theme-green a:hover,.theme-green .text-page a:hover:not(.button-primary),.text-page .theme-green a:hover:not(.button-primary),.theme-green .event-post a:hover:not(.button-primary),.event-post .theme-green a:hover:not(.button-primary),.theme-green .press-release-item-page a:hover:not(.button-primary),.press-release-item-page .theme-green a:hover:not(.button-primary),.theme-green .text-and-image-table a:hover:not(.button-primary),.text-and-image-table .theme-green a:hover:not(.button-primary) {
  color:#86c8bc
}
.theme-violet .text-link,.theme-violet .article-list-item a,.article-list-item .theme-violet a,.theme-violet .article-page a:not(.button-primary),.article-page .theme-violet a:not(.button-primary),.theme-violet .article-sidebar-list a,.article-sidebar-list .theme-violet a,.theme-violet .text-page a:not(.button-primary),.text-page .theme-violet a:not(.button-primary),.theme-violet .event-post a:not(.button-primary),.event-post .theme-violet a:not(.button-primary),.theme-violet .press-release-item-page a:not(.button-primary),.press-release-item-page .theme-violet a:not(.button-primary),.theme-violet .text-and-image-table a:not(.button-primary),.text-and-image-table .theme-violet a:not(.button-primary) {
  color:#7a4183
}
.theme-violet .text-link.active,.theme-violet .article-list-item a.active,.article-list-item .theme-violet a.active,.theme-violet .article-page a.active:not(.button-primary),.article-page .theme-violet a.active:not(.button-primary),.theme-violet .article-sidebar-list a.active,.article-sidebar-list .theme-violet a.active,.theme-violet .text-page a.active:not(.button-primary),.text-page .theme-violet a.active:not(.button-primary),.theme-violet .event-post a.active:not(.button-primary),.event-post .theme-violet a.active:not(.button-primary),.theme-violet .press-release-item-page a.active:not(.button-primary),.press-release-item-page .theme-violet a.active:not(.button-primary),.theme-violet .text-and-image-table a.active:not(.button-primary),.text-and-image-table .theme-violet a.active:not(.button-primary),.theme-violet .text-link:hover,.theme-violet .article-list-item a:hover,.article-list-item .theme-violet a:hover,.theme-violet .article-page a:hover:not(.button-primary),.article-page .theme-violet a:hover:not(.button-primary),.theme-violet .article-sidebar-list a:hover,.article-sidebar-list .theme-violet a:hover,.theme-violet .text-page a:hover:not(.button-primary),.text-page .theme-violet a:hover:not(.button-primary),.theme-violet .event-post a:hover:not(.button-primary),.event-post .theme-violet a:hover:not(.button-primary),.theme-violet .press-release-item-page a:hover:not(.button-primary),.press-release-item-page .theme-violet a:hover:not(.button-primary),.theme-violet .text-and-image-table a:hover:not(.button-primary),.text-and-image-table .theme-violet a:hover:not(.button-primary) {
  color:#c6a1cf
}
.theme-red .text-link,.theme-red .article-list-item a,.article-list-item .theme-red a,.theme-red .article-page a:not(.button-primary),.article-page .theme-red a:not(.button-primary),.theme-red .article-sidebar-list a,.article-sidebar-list .theme-red a,.theme-red .text-page a:not(.button-primary),.text-page .theme-red a:not(.button-primary),.theme-red .event-post a:not(.button-primary),.event-post .theme-red a:not(.button-primary),.theme-red .press-release-item-page a:not(.button-primary),.press-release-item-page .theme-red a:not(.button-primary),.theme-red .text-and-image-table a:not(.button-primary),.text-and-image-table .theme-red a:not(.button-primary) {
  color:#d14124
}
.theme-red .text-link.active,.theme-red .article-list-item a.active,.article-list-item .theme-red a.active,.theme-red .article-page a.active:not(.button-primary),.article-page .theme-red a.active:not(.button-primary),.theme-red .article-sidebar-list a.active,.article-sidebar-list .theme-red a.active,.theme-red .text-page a.active:not(.button-primary),.text-page .theme-red a.active:not(.button-primary),.theme-red .event-post a.active:not(.button-primary),.event-post .theme-red a.active:not(.button-primary),.theme-red .press-release-item-page a.active:not(.button-primary),.press-release-item-page .theme-red a.active:not(.button-primary),.theme-red .text-and-image-table a.active:not(.button-primary),.text-and-image-table .theme-red a.active:not(.button-primary),.theme-red .text-link:hover,.theme-red .article-list-item a:hover,.article-list-item .theme-red a:hover,.theme-red .article-page a:hover:not(.button-primary),.article-page .theme-red a:hover:not(.button-primary),.theme-red .article-sidebar-list a:hover,.article-sidebar-list .theme-red a:hover,.theme-red .text-page a:hover:not(.button-primary),.text-page .theme-red a:hover:not(.button-primary),.theme-red .event-post a:hover:not(.button-primary),.event-post .theme-red a:hover:not(.button-primary),.theme-red .press-release-item-page a:hover:not(.button-primary),.press-release-item-page .theme-red a:hover:not(.button-primary),.theme-red .text-and-image-table a:hover:not(.button-primary),.text-and-image-table .theme-red a:hover:not(.button-primary) {
  color:#ff8d6d
}
p {
  margin:0
}
.intro-paragraph,.connect-socially p,.contact-us-form p,.contact-us-message p,.content-billboard p,.page-billboard p,.promo-block p {
  font-size:18px
}
.no-wrap {
  white-space:nowrap
}
h1,h2,h3,h4,h5,h6 {
  color:#2f363f;
  font-family:Avenir W01,Helvetica,Arial,sans-serif;
  font-weight:bold;
  margin:0;
  transition:color .2s
}
h1 {
  font-size:48px
}
h2 {
  font-size:40px
}
h3 {
  font-size:32px
}
h4 {
  font-size:24px
}
h5 {
  font-size:20px
}
h6 {
  font-size:16px
}
.type-lg-h1 {
  font-size:48px
}
.type-lg-h2,.overview h1,.page-billboard h1,.page-billboard--small .page-billboard-text h1,.contact-us h1,.homepage .promo-block-text h1 {
  font-size:40px
}
.type-lg-h3,.article-page h1,.connect-socially h1,.contact-us-form h1,.contact-us-message h1,.content-billboard h1,.form-success-message h1,.leadership h1,.overview h2,.subscribe-popup h1 {
  font-size:32px
}

.type-lg-h5,.article-columns h1,.article-list-item h1,.article-sidebar h1,.info-block h1,.leadership blockquote,.link-block h1,.overview h3,.contact-us-sidebar-headquarters h1,.homepage-billboard-link h2,.text-page h3,.event-post h3,.press-release-item-page h3,.text-and-image-table h3,.g-lg-8 .text-and-image-table h1 {
  font-size:20px
}
.type-lg-h6,.contact-us-sidebar-headquarters h2 {
  font-size:16px
}
.type-lg-left {
  text-align:left
}
.type-lg-right {
  text-align:right
}
.type-lg-center {
  text-align:center
}

.social-slider-wrapper {
  background:#cfcfd0
}
.social-slider {
  color:#fff;
  margin:0 auto;
  max-width:1000px;
  overflow:hidden;
  padding:40px 50px;
  position:relative;
  text-align:center
}
.social-slider-slides {
  margin:0 auto 30px;
  max-width:700px
}
.social-slider-slide {
  height:100%;
  width:100%
}
.social-slider-slide .fa {
  margin-bottom:20px
}
.social-slider-slide a,.social-slider-slide p {
  opacity:0;
  transition:opacity .3s
}
.social-slider-slide.cycle-slide-active a,.social-slider-slide.cycle-slide-active p {
  opacity:1
}
.social-slider-slide-table {
  display:table;
  height:100%;
  width:100%
}
.social-slider-slide-table-cell {
  display:table-cell;
  vertical-align:middle
}
.social-slider .fa {
  font-size:42px;
  transition:opacity .2s
}
.social-slider .fa:hover {
  opacity:.6
}
.social-slider-pager,.social-slider-prev,.social-slider-next {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}
.social-slider-pager {
  font-size:0
}
.social-slider-pager i {
  border:2px solid #fff;
  border-radius:100%;
  cursor:pointer;
  display:inline-block;
  height:14px;
  margin:0 2px;
  transition:background .2s;
  width:14px
}
.social-slider-pager i:hover,.social-slider-pager i.active {
  background:#fff
}
.social-slider-prev,.social-slider-next {
  cursor:pointer;
  height:50px;
  line-height:50px;
  margin-top:-25px;
  position:absolute;
  text-align:center;
  top:50%;
  transition:opacity .2s;
  width:50px
}
.social-slider-prev {
  left:0
}
.social-slider-next {
  right:0
}
.stat-block {
  text-align:center
}
.stat-block h1 {
  color:#0057b8;
  font-size:100px;
  letter-spacing:-.04em;
  margin:0 0 24px;
  padding:0 0 4px;
  position:relative
}
.stat-block h1 sup {
  display:inline-block;
  font-size:48px;
  left:-24px;
  letter-spacing:0;
  top:-34px;
  width:0
}
.stat-block h1:after {
  background:#0057b8;
  bottom:0;
  content:'';
  height:2px;
  left:50%;
  margin-left:-90px;
  position:absolute;
  width:180px
}
.stat-block p {
  font-size:18px
}
.theme-green .stat-block h1 {
  color:#279989
}
.theme-green .stat-block h1:after {
  background:#279989
}
.theme-violet .stat-block h1 {
  color:#7a4183
}
.theme-violet .stat-block h1:after {
  background:#7a4183
}
.theme-red .stat-block h1 {
  color:#ff8d6d
}
.theme-red .stat-block h1:after {
  background:#ff8d6d
}
.subscribe-popup-overlay {
  background:rgba(0,0,0,0.6);
  bottom:0;
  left:0;
  position:fixed;
  right:0;
  top:0
}
.subscribe-popup {
  background:#fff;
  left:50%;
  margin-left:-180px;
  margin-top:-100px;
  padding:20px;
  position:fixed;
  top:50%;
  width:360px
}
.subscribe-popup button {
  background-color:transparent;
  border:0;
  font-size:22px;
  height:32px;
  padding:0 4px 0 0;
  position:absolute;
  right:6px;
  top:4px;
  width:32px
}
.subscribe-popup button i:before {
  content:'\f105\f104';
  font-size:32px;
  letter-spacing:-4px
}
.subscribe-popup p {
  margin:20px 0
}
.subscribe-popup .form-control-select select {
  height:30px;
  margin-top:14px;
  width:70%
}
@media screen and (max-width: 640px) {
  .subscribe-popup {
    margin-left:-150px;
    width:300px
  }
}
.blank-page {
  padding-bottom:30px;
  padding-top:30px
}
.contact-us,.contact-us-sidebar {
  padding:60px 0 120px
}
.contact-us .half-width {
  width:48.7179487179%;
  float:left;
  margin-right:2.5641025641%
}
.contact-us .half-width:nth-child(even) {
  margin-right:0
}
.contact-us .full-width {
  width:100%;
  float:left;
  margin-left:0;
  margin-right:0
}
.contact-us-mandatory {
  padding:30px 0 20px
}
.contact-us-mandatory i {
  color:#0057b8;
  font-size:18px
}
.contact-us-sidebar-all-link {
  height:60px;
  line-height:60px
}
.contact-us-sidebar-headquarters h1 {
  margin:30px 0 20px
}
.contact-us-sidebar-headquarters p {
  margin:2px 0 20px
}
.contact-us-sidebar-headquarters hr {
  border-color:#0057b8;
  border-width:2px;
  margin:40px 0 30px;
  width:80px
}
.contact-us-sidebar-headquarters a:hover {
  color:#2f363f
}
.contact-us-sidebar-headquarters .fa-map-marker {
  font-size:24px;
  vertical-align:top
}
.contact-us-sidebar-headquarters .fa-arrow-right {
  font-size:12px
}
.theme-green .contact-us-mandatory i {
  color:#279989
}
.theme-green .contact-us-sidebar-headquarters hr {
  border-color:#279989
}
.theme-violet .contact-us-mandatory i {
  color:#7a4183
}
.theme-violet .contact-us-sidebar-headquarters hr {
  border-color:#7a4183
}
.theme-red .contact-us-mandatory i {
  color:#ff8d6d
}
.theme-red .contact-us-sidebar-headquarters hr {
  border-color:#ff8d6d
}
@media screen and (max-width: 960px) {
  .contact-us,.contact-us-sidebar {
    padding:30px 0
  }
  .contact-us .half-width,.contact-us .full-width {
    width:98.3333333333%;
    float:left;
    margin-left:0.8333333333%;
    margin-right:0.8333333333%
  }
}
.events-page .dot {
  display:none
}
.events-page .article-list-item-meta {
  display:block;
  margin:8px 0
}
.events-page .location:before,.events-page .date:before,.events-page .booth:before,.events-page .speaking:before {
  font-size:20px;
  margin-right:12px;
  text-align:center;
  width:22px
}
.events-page .location:before {
  content:'\f041';
  font-size:22px
}
.events-page .date:before {
  content:'\f073'
}
.events-page .booth:before {
  content:'\f0c0'
}
.events-page .speaking:before {
  content:'\f130'
}
.homepage .contact-us-message {
  background:url("/images/contact-us.jpg") no-repeat center center;
  background-size:cover;
  padding:160px 0;
  text-align: center;
}

.homepage .contact-us-message h1 {
  font-size: 30px;
}
.homepage .contact-us-message h1,.homepage .contact-us-message p {
  color:#fff !important;
  text-align: center !important;

}

.homepage .contact-us-message a {
  background:#fff;
  color:#fff;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  min-width: 180px;
  padding: 12px 24px;
}
.homepage .contact-us-message a:hover {
  opacity:.8
}
.homepage .contact-us-message h1,.homepage .contact-us-message p,.homepage .contact-us-message a {
  opacity:0;
  -webkit-transform:translateY(-30px);
  -ms-transform:translateY(-30px);
  transform:translateY(-30px);
  transition:opacity .8s, -webkit-transform .8s;
  transition:opacity .8s, transform .8s
}
.homepage .contact-us-message.scroll-animate h1,.homepage .contact-us-message.scroll-animate p,.homepage .contact-us-message.scroll-animate a {
  opacity:1;
  -webkit-transform:translateY(0);
  -ms-transform:translateY(0);
  transform:translateY(0)
}

.homepage .article-columns h1 {
  border-color:transparent
}
.homepage .article-columns .text-link,.homepage .article-columns .article-list-item a,.article-list-item .homepage .article-columns a,.homepage .article-columns .article-page a:not(.button-primary),.article-page .homepage .article-columns a:not(.button-primary),.homepage .article-columns .article-sidebar-list a,.article-sidebar-list .homepage .article-columns a,.homepage .article-columns .text-page a:not(.button-primary),.text-page .homepage .article-columns a:not(.button-primary),.homepage .article-columns .event-post a:not(.button-primary),.event-post .homepage .article-columns a:not(.button-primary),.homepage .article-columns .press-release-item-page a:not(.button-primary),.press-release-item-page .homepage .article-columns a:not(.button-primary),.homepage .article-columns .text-and-image-table a:not(.button-primary),.text-and-image-table .homepage .article-columns a:not(.button-primary),.homepage .article-columns time,.homepage .article-columns h1 {
  color:#fff
}
.homepage .article-columns .button-primary,.homepage .article-columns .content-billboard a,.content-billboard .homepage .article-columns a,.homepage .article-columns .overview a:not(.text-link),.overview .homepage .article-columns a:not(.text-link),.homepage .article-columns .promo-block a,.promo-block .homepage .article-columns a,.homepage .article-columns .homepage-billboard-slide-cell a,.homepage-billboard-slide-cell .homepage .article-columns a {
  background:#fff;
  color:#279989
}
.homepage .article-columns .text-link:hover,.homepage .article-columns .article-list-item a:hover,.article-list-item .homepage .article-columns a:hover,.homepage .article-columns .article-page a:hover:not(.button-primary),.article-page .homepage .article-columns a:hover:not(.button-primary),.homepage .article-columns .article-sidebar-list a:hover,.article-sidebar-list .homepage .article-columns a:hover,.homepage .article-columns .text-page a:hover:not(.button-primary),.text-page .homepage .article-columns a:hover:not(.button-primary),.homepage .article-columns .event-post a:hover:not(.button-primary),.event-post .homepage .article-columns a:hover:not(.button-primary),.homepage .article-columns .press-release-item-page a:hover:not(.button-primary),.press-release-item-page .homepage .article-columns a:hover:not(.button-primary),.homepage .article-columns .text-and-image-table a:hover:not(.button-primary),.text-and-image-table .homepage .article-columns a:hover:not(.button-primary),.homepage .article-columns .button-primary:hover,.homepage .article-columns .content-billboard a:hover,.content-billboard .homepage .article-columns a:hover,.homepage .article-columns .overview a:hover:not(.text-link),.overview .homepage .article-columns a:hover:not(.text-link),.homepage .article-columns .promo-block a:hover,.promo-block .homepage .article-columns a:hover,.homepage .article-columns .homepage-billboard-slide-cell a:hover,.homepage-billboard-slide-cell .homepage .article-columns a:hover {
  opacity:.8
}
.homepage .article-columns section {
  opacity:0;
  -webkit-transform:translateY(-30px);
  -ms-transform:translateY(-30px);
  transform:translateY(-30px);
  transition:opacity .8s ease, -webkit-transform .8s ease;
  transition:opacity .8s ease, transform .8s ease
}
.homepage .article-columns section:nth-child(2) {
  transition-delay:.4s
}
.homepage .article-columns section:nth-child(3) {
  transition-delay:.6s
}
.homepage .article-columns section:last-child {
  transition-delay:.8s
}
.homepage .article-columns.scroll-animate section {
  opacity:1;
  -webkit-transform:translateY(0);
  -ms-transform:translateY(0);
  transform:translateY(0)
}
.homepage .content-billboard .button-primary,.homepage .content-billboard a,.homepage .content-billboard .overview a:not(.text-link),.overview .homepage .content-billboard a:not(.text-link),.homepage .content-billboard .promo-block a,.promo-block .homepage .content-billboard a,.homepage .content-billboard .homepage-billboard-slide-cell a,.homepage-billboard-slide-cell .homepage .content-billboard a {
  background:#fff;
  color:#279989
}
.homepage .content-billboard .button-primary:hover,.homepage .content-billboard a:hover,.homepage .content-billboard .overview a:hover:not(.text-link),.overview .homepage .content-billboard a:hover:not(.text-link),.homepage .content-billboard .promo-block a:hover,.promo-block .homepage .content-billboard a:hover,.homepage .content-billboard .homepage-billboard-slide-cell a:hover,.homepage-billboard-slide-cell .homepage .content-billboard a:hover {
  opacity:.8
}
.homepage .promo-block-text {
  padding:30px 0
}
.homepage .promo-block-text h1 {
  line-height:1.3;
  margin-bottom:30px
}
.homepage .promo-block-text p {
  font-size:16px;
  line-height:1.55
}
.homepage-billboard {
  position:relative;
  margin-bottom:25px
}
.homepage-billboard-slides {
  overflow:hidden;
  height:500px;
  z-index:0
}
.homepage-billboard-slide {
  width:100%;
  background-color:#002855;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat
}
.homepage-billboard .social-slider-pager {
  position:absolute;
  bottom:20px;
  left:0;
  right:0;
  text-align:center
}
.homepage-billboard .social-slider-pager i {
  margin:0 5px
}
.homepage-billboard .fa {
  color:#fff;
  font-size:50px;
  line-height:50px;
  transition:opacity .2s;
  opacity:1
}
.homepage-billboard .fa:hover {
  opacity:.6
}
.homepage-billboard-slide-table {
  display:table;
  width:100%;
  height:547px;
  table-layout:fixed;
  padding:30px 25px 45px
}
.homepage-billboard-slide-cell {
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  line-height:1.1
}
.homepage-billboard-slide-cell h1 {
  color:#fff;
  margin:0 auto;
  max-width:850px
}
.homepage-billboard-slide-cell p {
  color:#fff;
  font-size:24px;
  letter-spacing:-.02em
}
.homepage-billboard-slide-cell a {
  margin:20px 0 0;
  text-shadow:none
}
.homepage-billboard-links-holder {
  margin:0 -18px 80px
}
.homepage-billboard-links {
  border-spacing:30px;
  color:#fff !important;
  display:table;
  table-layout:fixed;
  width:100%;
}

.homepage-billboard-links p {
  color: #ffffff !important;
  line-height: 2;
}

.homepage-billboard-link {
  background:#13449a;
  display:table-cell;
  padding:50px 40px 40px;
  position:relative;
  text-align:center
}
.homepage-billboard-link .type {
  display:block;
  font-size:46px;
  margin-bottom:20px;
  opacity:0;
  -webkit-transform:translateY(-30px);
  -ms-transform:translateY(-30px);
  transform:translateY(-30px);
  transition:opacity 1s, -webkit-transform 1s;
  transition:opacity 1s, transform 1s
}
.loaded .homepage-billboard-link .type {
  opacity:1;
  -webkit-transform:translateY(0);
  -ms-transform:translateY(0);
  transform:translateY(0)
}
.homepage-billboard-link:before {
  content:'';
  border:6px solid #1d305b;
  height:26px;
  width:26px;
  border-radius:100%;
  left:-18px;
  position:absolute;
  top:-18px;
  background:#fff
}
.homepage-billboard-link h2,.homepage-billboard-link p {
  opacity:0;
  transition:opacity 1s
}
.loaded .homepage-billboard-link h2,.loaded .homepage-billboard-link p {
  opacity:1
}
.homepage-billboard-link span {
  color:rgba(255,255,255,0);
  transition:color 1.2s
}
.homepage-billboard-link span i {
  font-size:18px;
  position:relative;
  top:1px;
  transition:none
}
.loaded .homepage-billboard-link span {
  color:#fff
}
.homepage-billboard-link:first-child .type,.homepage-billboard-link:first-child h2,.homepage-billboard-link:first-child p,.homepage-billboard-link:first-child span {
  transition-delay:.4s
}
.homepage-billboard-link:nth-child(2) .type,.homepage-billboard-link:nth-child(2) h2,.homepage-billboard-link:nth-child(2) p,.homepage-billboard-link:nth-child(2) span {
  transition-delay:.8s
}
.homepage-billboard-link:last-child .type,.homepage-billboard-link:last-child h2,.homepage-billboard-link:last-child p,.homepage-billboard-link:last-child span {
  transition-delay:1.2s
}
.homepage-billboard-link h2 {
  color:#fff;
  margin-bottom:14px
}
.homepage-billboard-link span {
  background:#002855;
  bottom:-50px;
  display:block;
  font-weight:bold;
  height:50px;
  left:0;
  line-height:50px;
  position:absolute;
  right:0
}
.homepage-billboard-link:hover {
  background:#103a83
}
.theme-green .homepage-billboard-link {
  background:rgba(39,153,137,0.8)
}
.theme-green .homepage-billboard-link span {
  background:#1b3c33
}
.theme-green .homepage-billboard-link:hover {
  background:#279989
}
.theme-violet .homepage-billboard-link {
  background:rgba(122,65,131,0.8)
}
.theme-violet .homepage-billboard-link span {
  background:#51284f
}
.theme-violet .homepage-billboard-link:hover {
  background:#7a4183
}
.theme-red .homepage-billboard-link {
  background:rgba(255,141,109,0.8)
}
.theme-red .homepage-billboard-link span {
  background:#d14124
}
.theme-red .homepage-billboard-link:hover {
  background:#ff8d6d
}
@media screen and (max-width: 960px) {
  .homepage-billboard {
    margin-bottom:50px
  }
  .homepage-billboard-links-holder {
    margin-left:0;
    margin-right:0
  }
  .homepage-billboard-links {
    display:block
  }
  .homepage-billboard-link {
    display:block;
    margin-bottom:100px
  }
}
@media screen and (max-width: 768px) {
  .homepage-billboard-slides {
    height:480px
  }
  .homepage-billboard-slide-table {
    height:480px
  }
}
@media screen and (max-width: 600px) {
  .homepage-billboard .fa {
    display:none
  }
  .homepage-billboard-slides {
    height:400px
  }
  .homepage-billboard-slide-table {
    height:400px;
    padding-left:0;
    padding-right:0
  }
  .homepage-billboard-slide-cell h1 br {
    display:none
  }
}
@media screen and (max-width: 480px) {
  .homepage .promo-block-text h1 {
    font-size:24px
  }
  .homepage-billboard-slides {
    height:350px
  }
  .homepage-billboard-slide-table {
    height:350px
  }
  .homepage-billboard-slide-cell h1 {
    font-size:24px;
    margin-bottom:5px
  }
  .homepage-billboard-slide-cell p {
    font-size:18px
  }
}
.text-page,.event-post,.press-release-item-page,.text-and-image-table {
  min-height:calc(100vh - 128px);
  padding:60px 0
}
.text-page h1,.event-post h1,.press-release-item-page h1,.text-and-image-table h1 {
  margin:10px 0 30px
}
.text-page p,.event-post p,.press-release-item-page p,.text-and-image-table p {
  margin-bottom:20px
}
.text-page strong,.event-post strong,.press-release-item-page strong,.text-and-image-table strong {
  color:#2f363f
}
.text-page ul,.event-post ul,.press-release-item-page ul,.text-and-image-table ul {
  margin:0 0 20px;
  padding-left:20px
}
.press-release-item-page {
  padding:0
}
.p404 .fa {
  color:#000;
  font-size:92px
}
.text-and-image-table {
  min-height:0;
  padding:0
}
.text-and-image-table img {
  max-width:260px;
}
.text-and-image-table td {
  vertical-align: middle;
}
.text-and-image-table td:first-child {
  width:300px
}
.text-and-image-table h1 {
  font-size:32px;
  margin:0
}
.g-lg-8 .text-and-image-table img {
  border:1px solid #ccc;
  max-width:120px
}
.g-lg-8 .text-and-image-table td:first-child {
  width:140px
}
.resource-item-page-content .text-and-image-table {
  margin-top:30px
}
.resource-item-page-content .text-and-image-table img {
  margin-right:20px;
  max-width:250px
}
.resource-item-page-content .text-and-image-table td:first-child {
  width:auto
}
.person-anchor {
  display:block;
  position:relative;
  top:-100px;
  visibility:hidden
}
.sitemap li {
  color:#002855;
  padding:10px 0
}
.theme-green .sitemap li {
  color:#1b3c33
}
.theme-violet .sitemap li {
  color:#51284f
}
.theme-red .sitemap li {
  color:#683431
}
@media screen and (max-width: 960px) {
  .text-page table,.event-post table,.press-release-item-page table,.text-and-image-table table,.text-page tbody,.event-post tbody,.press-release-item-page tbody,.text-and-image-table tbody,.text-page tr,.event-post tr,.press-release-item-page tr,.text-and-image-table tr,.text-page td,.event-post td,.press-release-item-page td,.text-and-image-table td {
    display:block
  }
  .text-and-image-table img {
    margin-bottom:20px
  }
  .text-and-image-table td:first-child {
    width:auto
  }
  .resource-item-page-content .text-and-image-table img {
    margin-right:0;
    max-width:100%
  }
  .page-footer-socials {
    padding-top:12px
  }
  .page-footer-socials a {
    margin:0 15px
  }
}
@media print {
  body {
    font-size:14px
  }
  * {
    overflow:hidden
  }
  .page-header,.page-path,.button-primary,.content-billboard a,.overview a:not(.text-link),.promo-block a,.homepage-billboard-slide-cell a,.contact-us-message,.social-slider-pager,.social-slider-prev,.social-slider-next,.page-footer a,.homepage-billboard-link span,.social-slider,.article-columns,.article-sidebar,.article-list-item .text-link.lg-left,.article-list-item a.lg-left,.article-list-item .article-page a.lg-left:not(.button-primary),.article-page .article-list-item a.lg-left:not(.button-primary),.article-list-item .article-sidebar-list a.lg-left,.article-sidebar-list .article-list-item a.lg-left,.article-list-item .text-page a.lg-left:not(.button-primary),.text-page .article-list-item a.lg-left:not(.button-primary),.article-list-item .event-post a.lg-left:not(.button-primary),.event-post .article-list-item a.lg-left:not(.button-primary),.article-list-item .press-release-item-page a.lg-left:not(.button-primary),.press-release-item-page .article-list-item a.lg-left:not(.button-primary),.article-list-item .text-and-image-table a.lg-left:not(.button-primary),.text-and-image-table .article-list-item a.lg-left:not(.button-primary),.article-list-item .text-link.puhs-left,.article-list-item a.puhs-left,.article-list-item .article-page a.puhs-left:not(.button-primary),.article-page .article-list-item a.puhs-left:not(.button-primary),.article-list-item .article-sidebar-list a.puhs-left,.article-sidebar-list .article-list-item a.puhs-left,.article-list-item .text-page a.puhs-left:not(.button-primary),.text-page .article-list-item a.puhs-left:not(.button-primary),.article-list-item .event-post a.puhs-left:not(.button-primary),.event-post .article-list-item a.puhs-left:not(.button-primary),.article-list-item .press-release-item-page a.puhs-left:not(.button-primary),.press-release-item-page .article-list-item a.puhs-left:not(.button-primary),.article-list-item .text-and-image-table a.puhs-left:not(.button-primary),.text-and-image-table .article-list-item a.puhs-left:not(.button-primary),.page-pager,.article-page-socials,#disqus_thread,.article-list-filter,.contact-us,.contact-us-sidebar-all-link,.connect-socially,.contact-us-form,.leadership,.content-billboard-text-wrap::after,.article-tags,.page-footer {
    display:none
  }
  .homepage-billboard,.homepage-billboard-text,.contact-us-sidebar {
    margin:0
  }
  .homepage-billboard,.page-wrapper,.article-list-main-content,.contact-us-sideba,.overview,.page-billboard,.event-post {
    padding:0
  }
  .article-list .g-lg-8,.article-page .g-lg-8,.contact-us-sidebar {
    width:100%
  }
  .article-list-item,.overview table,p,img,.link-block,.article-page-author {
    page-break-inside:avoid
  }
  .article-page,.text-page,.event-post,.press-release-item-page,.text-and-image-table {
    padding:0;
    padding-top:20px
  }
  .type-lg-h3,.article-page h1,.connect-socially h1,.contact-us-form h1,.contact-us-message h1,.content-billboard h1,.form-success-message h1,.leadership h1,.overview h2,.subscribe-popup h1 {
    font-size:24px
  }
  .overview {
    min-height:0
  }
  .page-header {
    position:static
  }
  .stat-block h1 {
    font-size:40px
  }
  .stat-block h1 sup {
    font-size:26px
  }
  .article-page-meta {
    margin:12px 0
  }
  .page-billboard {
    min-height:0;
    padding:0
  }
  .page-billboard-text {
    border:0
  }
  .page-billboard-text:after {
    display:none
  }
}

.type-lg-h2, .overview h1, .page-billboard h1, .page-billboard--small .page-billboard-text h1, .contact-us h1, .homepage .promo-block-text h1 {
    font-size: 40px;
}
.page-billboard h1, .page-billboard h2, .page-billboard h3, .page-billboard h4, .page-billboard h5 {
    color: #fff;
    line-height: 1.2;
}

.page-billboard-container {
    margin: 0 auto;
    max-width: 1424px;
}
.page-billboard {
    background-color: #d7d2cb;
    background-position: center center;
    background-size: cover;
    min-height: 400px;
    padding: 100px 0 60px;
}

.page-billboard--small .page-billboard-container {
    max-width: 1240px;
}
.page-billboard--xsmall {
    min-height: 0;
    padding: 0px 0 60px;
}
.page-billboard--small {
    min-height: 0;
    padding: 120px 0 60px;
}
.page-billboard--small .page-billboard-text {
    background-color: transparent;
    border-bottom: 0;
    margin: 0;
    max-width: none;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    color: #2f363f;
    font-family: Lato !important;
    font-weight: bold !important;
    margin: 0;
    transition: color .2s;
}
strong{font-weight:bold !important;}
h1{margin-bottom:8px !important;}

.page-footer {
  width: 100%;
  color: #ffffff !important;
	background:#222;
  font-family: Lato !important;
	font-size:13px;
	padding:12px 0;
}

.page-footer a {
  color: #ffffff !important;
}
.page-footer a:hover {
	color:#fff
}

.page-footer-socials {
  float: right !important;
}
.page-footer-socials a {
	color:#fff !important;
	display:inline-block;
	font-size:22px;
	margin-left:30px
}
.page-footer-socials a:hover {
	color:#81878c;
}
.overview-text {
    overflow: visible;
    padding-top: 50px;
    position: relative;
}
.overview-text-last{
    overflow: visible;
    position: relative;
    margin-bottom:90px;
}
.overview {
    font-size: 16px;
    min-height: 230px;
    overflow: visible;
    position: relative;
}
.overview h2, .overview h3, .overview h4, .overview h5 {
    line-height: 1.2;
    margin: 0 auto;
    max-width: 630px;
}
.overview h1 {
    line-height: 1.2;
    margin: 0 auto;
    max-width: 630px;
    padding: 0 16px 14px;
    position: relative;
    text-align: center;
    margin-bottom:24px !important;
}
.overview h1:after{
    /*background: #0057b8;*/
    background: #279989;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    margin-left: -90px;
    position: absolute;
    width: 180px;
}
.overview p {
    margin-bottom: 28px;
}
.overview table {
    margin: 30px 0 20px;
    table-layout: fixed;
    width: 100%;
}
.overview table td {
    padding-right: 20px;
    vertical-align: top;
}
.overview ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.overview li {
    font-size: 15px;
    margin-bottom: 24px;
    padding-left: 40px;
    padding-right: 30px;
    position: relative;
    color: #81878c;
}
.overview li:hover {
    font-size: 15px;
    margin-bottom: 24px;
    padding-left: 40px;
    padding-right: 30px;
    position: relative;
    color: #81878c;
}
.overview li:before {
    /*color: #0057b8;*/
    color: #279989;
    /*color: #17647e;*/
    content: '\f00c';
    font-family: FontAwesome;
    font-size: 28px;
    left: 0;
    position: absolute;
    top: -7px;
}
.overview--bg-True .overview-text:before {
    background: url('/images/overview-bg.png') no-repeat center top/100% auto;
    content: '';
    display: block;
    height: 340px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}


.padding-bottom {
  padding-bottom: 50px;
}

@media screen and (min-width: 1500px) {
  .padding-bottom {
    padding-bottom: 170px;
  }
}
