@import 'font-awesome';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'variables';

.unstyled-link {
  color: #ffffff !important;
  text-decoration: none;
}

.unstyled-link:hover {
  text-decoration: none;
}

.homepage {
  padding-top: 60px;
}
.page-header {
    z-index: 9999;
    padding-bottom: 0px;
    padding-top: 25px;
    margin: 0px 0 50px;
    border-bottom: 1px solid #eeeeee;
}

.page-header {
    background: #fff;
    border-bottom: 1px solid #ccc !important;
    color: #81878c;
    font-size: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.page-header-logo {
    display: inline-block;
    float: left;
    padding: 0 !important;
    transition: opacity .1s;
    margin: 0px 0 0 -110px !important;

    img {
      height: 70px;
      line-height: 80px;
      position: fixed;
      top: 0;
    }
}

@media all and (min-width: 1000px) {
  .page-header-logo {
    margin: 0px 0 0 70px !important;
  }
}

@media all and (max-width: 510px) {
  .page-header-logo {
    margin: 0px 0 0 0px !important;
  }

  .page-header-logo img {
    height: 70px !important;
  }

  .navbar-collapse {
    width: 100% !important;
  }
}


.page-nav {
  margin-right: 0px;
  background:#fff;
  display:inline-block
}
.page-nav ul {
  list-style-type:none;
  margin:0;
  padding:0
}
.page-nav a,.page-nav span {
  cursor:pointer;
  display:inline-block;
  font-size:13px
}
.page-nav a i,.page-nav span i {
  height: 50px;
  font-size:18px;
  position:relative;
  top:1px
}

.page-nav-item {
  display:inline-block;
  position:relative
}
.page-nav-item>a, .page-nav-item>span {
  font-size: 18px !important;
  border-bottom:3px solid transparent;
  padding:0 16px
}
.page-nav-item>span {
  display:none
}
.page-nav-item ul {
  background:#fff;
  box-shadow:0 2px 4px rgba(0,0,0,0.2);
  min-width:100%;
  opacity:0;
  padding:12px 0;
  position:absolute;
  right:0;
  transition:all .2s;
  visibility:hidden
}
.page-nav-item:first-child>a {
  padding-left:8px
}
.page-nav-item.active>a,.page-nav-item.active>span,.page-nav-item:hover>a,.page-nav-item:hover>span {
  /* border-color:#2f363f */
  border-color: #279989;
}
.page-nav-item:hover>ul {
  opacity:1;
  visibility:visible
}

/**/
/* Custom Bootstrap */
/**/

.navbar-default {
  background-color: #ffffff;
  border: none;
}
.navbar-brand > img {
  height: 65px;
}

.nav-container {
  max-width: 1240px;
  padding: 0 50px;
}

.navbar-nav > li > a {
    height: 50px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.btn-primary {
    color: #fff;
    background-color: #17647e;
    border-color: #fff;
}

.btn-primary:hover {
  background-color: #fff;
  color: #0079c9 !important;
  text-decoration: none !important;
  border-color: #17647e;
}

.text-bauhaus {
  font-family: 'Bauhaus' !important;
  font-color: black !important;
}

.vision-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
