%nav.navbar.navbar-default.page-header
  .container.nav-container
    .navbar-header
      %button.navbar-toggle.collapsed{'aria-expanded' => 'false', 'data-target' => '#bs-example-navbar-collapse-1', 'data-toggle' => 'collapse', :type => 'button'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      %a.page-header-logo.navbar-brand{:href => '/admin'}
        = image_tag 'gocomsystems-logo.jpg', :alt => 'GOCOM Systems and Solutions Corporation'


    #bs-example-navbar-collapse-1.collapse.navbar-collapse.pull-right
      .page-nav
        %ul.nav.navbar-nav
          %li.page-nav-item
            = link_to 'Recruitments', [:admin, :posts]
          %li.page-nav-item
            = link_to 'Products', [:admin, :products]
          %li.page-nav-item
            = link_to 'Visit Site', '/'
          %li.page-nav-item
            = link_to 'Logout', destroy_admin_session_path,
              :method => :delete


    / /.navbar-collapse
  / /.container-fluid
