.bcms-clearfix.custom-clearfix
.bcms-clearfix.custom-clearfix
%footer.page-footer
  .g-container
    .g-lg-8.g-md-12.type-md-center
      Copyright © 2016. GOCOM Systems and Solutions Corporation. All Rights Reserved
    .g-lg-4.g-md-12.type-md-center
      %a{:href => '/privacy-policy'}
      \
      %a{:href => '/sitemap'}
    .page-footer-socials.g-lg-4.g-md-12.type-lg-right
      %a.fa.fa-facebook{:href => 'https://www.facebook.com/gocomsystems/', :target => '_blank', :title => 'Facebook'}
      -# %a.fa.fa-twitter{:href => 'https://www.twitter.com/gocomsystems', :target => '_blank', :title => 'Twitter'}
      %a.fa.fa-linkedin{:href => 'https://www.linkedin.com/company/gocom-systems-and-solutions-corporation', :target => '_blank', :title => 'LinkedIn'}
      %a.fa.fa-rss{:href => '/feed?format=rss', :rel => 'alternate', :title => 'GOCOM RSS Feed', :type => 'application/rss+xml'}
    .bcms-clearfix.custom-clearfix
    .bcms-clearfix.custom-clearfix
.bcms-clearfix.custom-clearfix
