%nav.navbar.navbar-default.page-header
  .container.nav-container
    .navbar-header
      %button.navbar-toggle.collapsed{'aria-expanded' => 'false', 'data-target' => '#bs-example-navbar-collapse-1', 'data-toggle' => 'collapse', :type => 'button'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      %a.page-header-logo{:href => '/'}
        = image_tag 'gocomsystems-logo.jpg', :alt => 'GOCOM Systems and Solutions Corporation'


    #bs-example-navbar-collapse-1.collapse.navbar-collapse.pull-right
      .page-nav
        %ul.nav.navbar-nav
          %li.page-nav-item
            %a.text-bauhaus{:href => '/about-us'} About Us
          %li.page-nav-item
            %a.text-bauhaus{:href => '/products'} Products
          %li.page-nav-item
            %a.text-bauhaus{:href => '/solutions'} Services
          %li.page-nav-item
            %a.text-bauhaus{:href => '/recruitments'} Recruitment
          %li.page-nav-item
            = link_to 'Contact Us', '/contact-us', 'data-no-turbolink' => true,
              :id => 'js-contact-us-link', :class => 'text-bauhaus'

    / /.navbar-collapse
  / /.container-fluid
