!!!
%html

%head
  = favicon_link_tag 'favicon.ico'
  %title Admin - GOCOM Systems and Solutions Corporation

  = stylesheet_link_tag 'application', :media => 'all',
    'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = filepicker_js_include_tag
  = csrf_meta_tags

%body.loaded
  #wrap.page-wrapper.theme-blue.js-page-wrapper
    = render :partial => 'layouts/admin_navbar'
    %div{:style => 'padding-top: 100px;'}

    .container
      = yield
