!!!
%html

%head
  = favicon_link_tag 'favicon.ico'
  %title
    = if content_for?(:title) then yield(:title) + ' | ' end
    GOCOM Systems and Solutions Corporation

  %meta{:content => "#{yield_meta_tag(:description, 'GOCOM Systems and Solutions Corporation is an Information and Communications Technology company that focuses on Solutions and Services.')}", :name => 'description'}/
  %meta{:content => "#{yield_meta_tag(:keywords, 'gocom,gocomsystems,information,technology,network,solutions,products,services,it,provider,services,makati,philippines')}", :name => "keywords"}/

  = stylesheet_link_tag 'application', media: 'all',
    'data-turbolinks-track' => true
  = javascript_include_tag 'application'
  = csrf_meta_tags

%body.loaded
  #wrap.page-wrapper.theme-blue.js-page-wrapper
    = render :partial => 'layouts/navbar'
    %main{:role => 'main'}
      = yield
  = render :partial => 'layouts/footer'
